<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # Admin — Materials Edit
  # location: views/admin/materials/edit.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<header class="page-header">
	<div class="g">
		<div class="g8-xs">
			<h1 class="page-header__title">Edit Material</h1>
		</div>
		<div class="g4-xs page-header__actions">
			 <a href="/materials" class="page-button page-button--yellow" target="_blank">Preview Page</a>
		</div>
	</div>
</header>
<section class="page-section js-thing-edit" data-slug="<%= @material.slug %>" data-id="<%= @material.id %>">
  <%= render partial: "admin/partials/thing_edit", locals: { 
	  thing: @material,
	  path: admin_material_url,
	  restful_method: :put,
	  categories: @categories,
	  thing_type: "Material"
	} %>
</section>