<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # Admin — Features Edit
  # location: views/admin/features/edit.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<header class="page-header">
	<div class="g">
		<div class="g8-xs">
			<h1 class="page-header__title">Edit Feature</h1>
		</div>
		<div class="g4-xs page-header__actions">
			 <a href="/features" class="page-button page-button--yellow" target="_blank">Preview Page</a>
		</div>
	</div>
</header>
<section class="page-section js-thing-edit" data-slug="<%= @feature.slug %>" data-id="<%= @feature.id %>">
  <%= render partial: "admin/partials/thing_edit", locals: { 
	  thing: @feature,
	  path: admin_feature_url,
	  restful_method: :put,
	  thing_type: "Feature"
	} %>
</section>