<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # Admin — Index
  # location: views/admin/index.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<header class="page-header">
  <div class="g">
    <div class="g8-xs">
      <% if current_user.email == "twastvedt@azahner.com" %>
        <h1 class="page-header__title">Welcome, Trygve!</h1>
      <% elsif current_user.email == "amanto@azahner.com" %>
        <h1 class="page-header__title">Welcome, Manto!</h1>
      <% else %>
        <h1 class="page-header__title">Welcome, Admin!</h1>
      <% end %>
    </div>
  </div>
</header>
<section class="page-section js-user-index">
  <div class="g">
    <div class="g6-xs page-section__list">
      <div class="g">
        <h3 class="g12-xs page-section__title">Recent Users</h3>
        <ul class="g12-xs page-section__list">
          <% @users.take(10).each do |user| %>
            <li class="card">
              <h2 class="card__title">
                <a class="card__link" href="/admin/users/<%= user.id %>/edit"><%= user.email %></a>
              </h2>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="g6-xs page-section__list">
      <div class="g">
        <h3 class="g12-xs page-section__title">Recent Designs</h3>
        <ul class="g12-xs page-section__list">
          <% @designs.take(10).each do |design| %>
            <li class="card">
              <h2 class="card__title">
                <a class="card__link" href="/admin/designs/<%= design.token %>/edit"><%= design.title %></a>
              </h2>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>