  <div class="design-menu__colors js-colors">
    <div class="design-menu__color js-color-menu" id="paintedColor">
      <div id="paintedColorPicker"></div>
      <div class="design-menu__color-defaults">
        <div class="design-menu__color-default js-color-default" style="background: #BD4630" data-hex="#BD4630"></div>
        <div class="design-menu__color-default js-color-default" style="background: #61BD30" data-hex="#61BD30"></div>
        <div class="design-menu__color-default js-color-default" style="background: #30A7BD" data-hex="#30A7BD"></div>
        <div class="design-menu__color-default js-color-default" style="background: #8D30BD" data-hex="#8D30BD"></div>
        <div class="design-menu__color-default js-color-default" style="background: #fff; border:1px solid #ccc" data-hex="#FFFFFF"></div>
        <div class="design-menu__color-default js-color-default" style="background: #000" data-hex="#000000"></div>
      </div>
      <div class="design-color__select">
        <span>#</span><input class="design-color__input js-painted-color-input" type="text" value="42849C">
        <button class="design-color__select-buttton js-color-submit">Finished</button>
      </div>
    </div>
    <div class="design-menu__color js-color-menu" id="anodizedColor" style="height:135px">
      <div class="design-menu__color-defaults">
        <div class="design-menu__color-default js-color-default" style="background: #EBF5F7" data-hex="#EBF5F7" title="Clear"></div>
        <div class="design-menu__color-default js-color-default" style="background: #D1DFE0" data-hex="#D1DFE0" title="Nickel"></div>
        <div class="design-menu__color-default js-color-default" style="background: #BDBAA1" data-hex="#BDBAA1" title="Champagne"></div>
        <div class="design-menu__color-default js-color-default" style="background: #B3AF8C" data-hex="#B3AF8C" title="Golden Bronze"></div>
        <div class="design-menu__color-default js-color-default" style="background: #6E5835" data-hex="#6E5835" title="Light Bronze"></div>
        <div class="design-menu__color-default js-color-default" style="background: #38241B" data-hex="#38241B" title="Dark Bronze"></div>
        <div class="design-menu__color-default js-color-default" style="background: #171712" data-hex="#171712" title="Electrolytic Black"></div>
      </div>
      <div class="design-color__select">
        <button class="design-color__select-buttton js-color-submit" style="width:100%">Finished</button>
      </div>
    </div>
    <div class="design-menu__color js-color-menu" id="hardwareColor">
      <div id="hardwareColorPicker"></div>
      <div class="design-menu__color-defaults">
        <div class="design-menu__color-default js-hardware-default" style="background: #BD4630" data-hex="#BD4630"></div>
        <div class="design-menu__color-default js-hardware-default" style="background: #61BD30" data-hex="#61BD30"></div>
        <div class="design-menu__color-default js-hardware-default" style="background: #30A7BD" data-hex="#30A7BD"></div>
        <div class="design-menu__color-default js-hardware-default" style="background: #8D30BD" data-hex="#8D30BD"></div>
        <div class="design-menu__color-default js-hardware-default" style="background: #fff; border:1px solid #ccc" data-hex="#FFFFFF"></div>
        <div class="design-menu__color-default js-hardware-default" style="background: #000" data-hex="#000000"></div>
      </div>
      <div class="design-color__select">
        <span>#</span><input class="design-color__input js-hardware-color-input" type="text" value="333333">
        <button class="design-color__select-buttton js-color-submit">Finished</button>
      </div>
    </div>
    <div class="design-menu__color js-color-menu" id="hardwareAnodized" style="height:135px">
      <div class="design-menu__color-defaults">
        <div class="design-menu__color-default js-hardware-default" style="background: #EBF5F7" data-hex="#EBF5F7" title="Clear"></div>
        <div class="design-menu__color-default js-hardware-default" style="background: #D1DFE0" data-hex="#D1DFE0" title="Nickel"></div>
        <div class="design-menu__color-default js-hardware-default" style="background: #cccfc8" data-hex="#CCCFC8" title="Champagne"></div>
        <div class="design-menu__color-default js-hardware-default" style="background: #adab9c" data-hex="#ADAB9C" title="Golden Bronze"></div>
        <div class="design-menu__color-default js-hardware-default" style="background: #83795E" data-hex="#83795E" title="Light Bronze"></div>
        <div class="design-menu__color-default js-hardware-default" style="background: #3C3934" data-hex="#3C3934" title="Dark Bronze"></div>
        <div class="design-menu__color-default js-hardware-default" style="background: #303D45" data-hex="#303D45" title="Electrolytic Black"></div>
      </div>
      <div class="design-color__select">
        <button class="design-color__select-buttton js-color-submit" style="width:100%">Finished</button>
      </div>
    </div>
  </div>  