<div class="design-menu__pane-content pane-system">
  <h3 class="design-menu__pane-title">System</h3>
  <p class="design-menu__pane-description">
    Change the type of your ImageWall and tell us more about its location so that we can give you accurate pricing.
  </p>

  <div class="js-panel-buttons  " style="margin-top:14px">
    <button class="design-menu__button js-panel-button active" data-type="facade">Hardware System</button>
    <button class="design-menu__button js-panel-button" data-type="facade">Flat Panels</button>
  </div>

  <div class="pane-system__cover js-system-cover"></div>

  <h2>Location</h2>
  <input type="text" placeholder="Enter City" class="design-system__input js-system-location">
  <div style="margin-top: 2px">☉ <span class="js-system-location-text">Chicago</span></div> 

  <div class="js-application-buttons">
    <h2>Application</h2>
    <button class="design-menu__button js-application-button" data-type="facade">Facade</button>
    <button class="design-menu__button js-application-button" data-type="wall">Wall</button>
    <button class="design-menu__button js-application-button" data-type="screen">Screen</button>
    <button class="design-menu__button js-application-button" data-type="ceiling">Ceiling</button>
  </div>

  <h2>Environment</h2>  
  <button class="design-menu__button js-environment-button" data-type="indoor">Indoor</button>
  <button class="design-menu__button js-environment-button" data-type="outdoor">Outdoor</button>

</div>
