<div class="design-menu__pane-content pane-grid">
  <h3 class="design-menu__pane-title">Grid</h3>
  <p class="design-menu__pane-description">
    A tighter grid gives more resolution to the image, but has more holes and is thus more expensive. A larger grid works well on larger projects which are often viewed from farther away.
  </p>
  <div class="design-menu__pane-controls js-grid-buttons">
    <br>
    <button class="design-menu__button design-menu__grid-button js-grid-button" data-type="0">
      Square
    </button>
    <button class="design-menu__button design-menu__grid-button js-grid-button" data-type="1">
      Staggered
    </button>
  </div>
  <br><br>
  <div class="wall-size__column">Grid Size
    <div class="range-slider">
      <input class="range-slider__text-input range-slider__text-input-higher smaller" id="grid-text"><span class="range-slider__text-input-label">in</span>
      <div id="grid-input"></div>
    </div>
  </div>
</div>