<div class="design-menu__pane-content pane-size">
  <h3 class="design-menu__pane-title">Size</h3>
  <p class="design-menu__pane-description">
    Overall dimensions of your ImageWall installation.
  </p>
  <div class="design-menu__pane-controls">
    <br>
    <!-- Height -->
    <div class="wall-size__column">Width
      <div class="range-slider">
        <input class="range-slider__text-input range-slider__text-input-higher" id="width-text"><span class="range-slider__text-input-label">ft</span>
        <svg class="wall-size__symbol" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
          <line x1="1" y1="1" x2="20" y2="1"></line>
          <line x1="1" y1="20" x2="20" y2="20"></line>
          <line x1="1" y1="20" x2="1" y2="1"></line>
          <line x1="20" y1="1" x2="20" y2="20"></line>
          <line x1="1" y1="10" x2="20" y2="10"></line>
        </svg>
        <div id="width-input" class="range-slider__slider"></div>
      </div>
    </div>
    <div class="design-clear"></div>
    <!-- Height -->
    <div class="wall-size__column">Height
      <div class="range-slider">
        <input class="range-slider__text-input range-slider__text-input-higher" id="height-text"><span class="range-slider__text-input-label">ft</span>
        <svg class="wall-size__symbol" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
          <line x1="1" y1="1" x2="20" y2="1"></line>
          <line x1="1" y1="20" x2="20" y2="20"></line>
          <line x1="1" y1="20" x2="1" y2="1"></line>
          <line x1="20" y1="1" x2="20" y2="20"></line>
          <line x1="10" y1="1" x2="10" y2="20"></line>
        </svg>
        <div id="height-input" class="range-slider__slider"></div>
      </div>
    </div>
    <div class="design-clear"></div>
    <!-- Depth -->
    <div class="wall-size__column" id="depth-control">Depth
      <div class="range-slider">
        <input class="range-slider__text-input range-slider__text-input-higher" id="depth-text"><span class="range-slider__text-input-label">in</span>
        <svg class="wall-size__symbol" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
          <line x1="1" y1="1" x2="20" y2="1"></line>
          <line x1="1" y1="20" x2="20" y2="20"></line>
          <line x1="1" y1="20" x2="1" y2="1"></line>
          <line x1="20" y1="1" x2="20" y2="20"></line>
          <line x1="1" y1="20" x2="20" y2="1"></line>
        </svg>
        <div id="depth-input" class="range-slider__slider"></div>
      </div>
      <p class="design-menu__pane-reason js-reason-screen design-menu__pane-description" hidden>ImageWall screen panels attach directly to the columns so there is no variability in the standard depth. Let us know if you need something custom.</p>
      <p class="design-menu__pane-reason js-reason-ceiling design-menu__pane-description" hidden>ImageWall ceilings are designed to be hung, thus the depth depends on how long you make the cables.</p>
      <p class="design-menu__pane-reason js-reason-panels design-menu__pane-description" hidden>ImageWall screen panels without hardware attach to your system, thus the depth depends on your hardware.</p>
    </div>
  </div>
</div>
