<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # ImageWall Testimonial Slide
  # location: views/partials/slide-testimonial.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<%# cache ["card-project", project] do %>
<div class="card card-testimonial js-text-slide">
	<blockquote class="card-testimonial__quote">
		<span class="card-testimonial__text"><%= text %></span>
		<cite class="card-testimonial__cite"><%= name %></cite>
	</blockquote>
</div>
<%# end %>