<div class="g6-xs g3-sm card-person" itemscope itemtype="https://schema.org/Person">
  <figure class="card-person__avatar" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <%= ix_picture_tag(image,
      picture_tag_options: {
        class: "card-person__avatar"
      },
      imgix_default_options: { w: 160, h: 160, q: 50, fit: "min", sizes: "50vw", widths: [160, 320], class: "card-person__image", alt: name, itemprop: "url" },
      breakpoints: {
        "(min-width: 1281px)" => { sizes: "25vw", widths: [320, 640] },
        "(min-width:  961px)" => { sizes: "25vw", widths: [240, 480] },
        "(min-width:  641px)" => { sizes: "25vw", widths: [160, 320] },
        "(min-width:  321px)" => { sizes: "50vw", widths: [320, 640] }
      }
    ) %>
  </figure>
  <h4 class="card-person__title" itemprop="name"><%= name %></h4>
</div>