<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	# ImageWall — Modal
	# location: views/partials/_modal.html.erb
	# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<div class="modal js-modal">
  <div class="modal-inner">
    <div class="modal-content js-modal-content"></div>
  </div>
</div>