<div class="g page-testimonials">
	<h2 class="g12-xs page-section__title">Testimonials</h2>
	<div class="page-section__carousel js-text-carousel">
		<%= render partial: "partials/card-testimonial", locals: {
			name: "Martin Daniels, Partner at MD Contracting Inc.",
			text: "ImageWall is a game-changer. A simple, beautiful and cost-effective solution for interior and exterior applications."
		} %>
		<%= render partial: "partials/card-testimonial", locals: {
			name: "Jon Snow, Head of Engineering at OEM",
			text: "ImageWall is fantastic, easy to use and a pleasure to install. I'd highly recommend the team at A. Zahner for all your perforated panel needs."
		} %>
		<%= render partial: "partials/card-testimonial", locals: {
			name: "Elaine Bunting, Bunting GC, Inc.",
			text: "ImageWall is fantastic, easy to use and a pleasure to install. I'd highly recommend the team at A. Zahner for all your perforated panel needs."
		} %>
  </div>
</div>