<div class="g page-companies">
	<div class="g4-xs g2-sm g2-sm-offset page-company">
		<%= image_tag("companies/company-architect-magazine-600x240.jpg", class: "page-company__image") %>
	</div>
	<div class="g4-xs g2-sm g1-sm-offset page-company">
		<%= image_tag("companies/company-design-bureau-480x480.jpg", class: "page-company__image") %>
	</div>
	<div class="g4-xs g2-sm g1-sm-offset page-company">
		<%= image_tag("companies/company-zahner-600x240.jpg", class: "page-company__image") %>
	</div>
</div>