<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # Design Modal – Share
  # location: views/design/modals/_share.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<div class="modal__form">
	<div class="g12-xs">
		<h2 class="modal__title">Share your Design</h2>
	</div>
	<div class="g12-xs">
		<div class="modal__share">
			<span class="modal__share-link js-design-url" id="js-design-url"></span>
			<button class="modal__button js-share-clipboard" data-clipboard-target="#js-design-url">
				<span class="modal__share-alert">Copied!</span>
				<span class="modal__share-title">Copy link</span>
				<%= image_tag("icons/icon-copy.svg", class: "modal__share-icon") %>
			</button>
		</div>
	</div>
	<div class="g12-xs">
		<p class="modal__description modal__description--small"><small><em>Copy the link above to share your design with others.</em></small></p>
	</div>
</div>