<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # Design Modal – Support
  # location: views/design/modals/_support.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<form class="modal__form">
	<div class="g12-xs">
		<p class="modal__description">
			Thanks for your interest in ImageWall! Please fill out this form to get the conversation started.
		</p>
		<br>
		<p class="modal__description">
			Feel free to call us at <a href="tel:1-816-423-8354">+1 816-423-8354</a> and reference design ID <span class="modal__support-id"></span>.
		</p>
	</div>

	<div class="g12-xs">
		<h5 class="modal__subtitle">Request Quote</h5>
	</div>

	<div class="g12-xs form-error-text js-missing-fields">
		<p class="modal__description">Please fill in all required fields.</p>
		<br>
	</div>

  <div class="g12-xs">
    <label class="modal__label" for="email">Email</label>
    <input type="email" class="modal__input user-email" name="email" value="<%= current_user ? current_user.email : '' %>" required>
  </div>
  <div class="g6-xs">
    <label class="modal__label" for="fname">First Name</label>
    <input type="text" class="modal__input user-fname" name="firstName" value="<%= @design ? @design.purchaser_fname : '' %>" required>
  </div>
  <div class="g6-xs">
    <label class="modal__label" for="lname">Last Name</label>
    <input type="text" class="modal__input user-lname" name="lastName" value="<%= @design ? @design.purchaser_lname : '' %>" required>
  </div>

	<div class="g12-xs">
		<label class="modal__label" for="street">Comments</label>
	  <textarea rows="3" class="modal__input modal__support-comments" name="comments"></textarea>
	</div>

	<div class="g6-xs">
		<a class="modal__cancel" data-modal-close>Cancel</a>
	</div>
	<div class="g6-xs">
		<button class="modal__submit js-support-submit">Submit</button>
	</div>
</form>
