<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # Design Modal – Support request success
  # location: views/design/modals/_support-success.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<div class="modal__form">
	<div class="g12-xs">
		<p class="modal__description">Thank you for your message! We will be in touch shortly.</p>
	</div>

	<div class="g6-xs">
		<button class="modal__submit" data-modal-close>Close</button>
	</div>
</div>