<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # Design Modal – Test Input
  # location: views/design/modals/_test-input.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<div class="modal__test-input">
  <div class="g12-xs">
		<h2 class="modal__title">Enter Test Parameters</h2>
	</div>

	<div class="g12-xs">
    <textarea class="modal__tests js-test-text" rows="15" cols="35"></textarea>
    
    <br><br>
    
    <button class="modal__button js-run-tests">
      <span class="modal__title">Run Tests</span>
    </button>
  </div>
</div>
