<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # Admin — Project Category New
  # location: views/admin/project_categories/new.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<header class="page-header">
	<div class="g">
		<div class="g8-xs">
			<h1 class="page-header__title">New Project Category</h1>
		</div>
	</div>
</header>
<section class="page-section js-category-edit" data-slug="<%= @category.slug %>">
	<%= render partial: "admin/partials/category_edit", locals: { 
	  category: @category,
	  path: "/admin/gallery/categories",
	  restful_method: :post
	} %>
</section>