<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # ImageWall — Privacy Policy
  # location: views/legal/privacy-policy.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<%# Meta Tags %>
<% content_for :metatags do %>
  <%= render partial: "partials/head/metatags", locals: {
    url: "https://www.imagewall.com/privacy-policy",
    title: "Privacy Policy — ImageWall",
    description: "ImageWall's privacy policy"
  } %>
<% end %>

<header class="page-header">
  <div class="g page-header__text">
    <h1 class="g12-xs g10-md g1-md-offset page-header__title">Privacy Policy</h1>
  </div>
</header>

<section class="page-section">
  <div class="g">
    <div class="g12-xs g10-sm g1-sm-offset g8-md g2-md-offset">
      <h2 class="page-section__title">ImageWall Privacy policy</h2>
      <p>We value your privacy, and we want to help make your experience with ImageWall as satisfying and safe as possible. We have established this Privacy Policy to explain how ImageWall collects Personal Information of individuals who visit <a href="http://www.imagewall.com" class="page-section__link">www.imagewall.com</a>, send us e-mails, or participate in features and services offered online, through subscription or otherwise (collectively the "Site"), and how ImageWall uses and discloses that Personal Information.</p>
      <p>"Personal Information," as used herein, is information that allows a person to directly identify an individual, such as name or email address, and information that may later be combined with such identifying information. This Privacy Policy is incorporated into and is subject to the ImageWall Website by ImageWall Terms of Use. By using the Site, you expressly consent to the information handling practices described in this Privacy Policy.</p>
      <p><strong>The Site. </strong>ImageWall enables users to access information on the site, including information regarding designs, products, and services, and to use other services and features of the site.</p>
      <p>In its operation of the Site and its provision of its services and features to users, ImageWall may collect, use, and retain information, including Personal Information and other data that you disclose when you register to use certain features of the site, as well as other data that may be collected after your registration, such as through your use of services and features of the Site.</p>
      <p><strong>Collection of Personal Information. </strong>If you register to access certain features of the Site, you may be required to provide certain Personal Information, including your name, email address, and other information. You also may have other opportunities to voluntarily provide Personal Information. For example, if you contact us to provide feedback or request support we collect your email address and other Personal Information that you provide.</p>
      <p><strong>Passive Data Collection. </strong>ImageWall, like other website operators, automatically collects and stores information on our server logs from your browser when you use the Site. ImageWall may use a variety of methods to collect this information. The information that ImageWall collects with these automated methods may include, for example, your IP address, cookie information, a unique device or user ID, browser type, system type, the content and pages that you access on the Site, and the page from which you navigated to the Site.</p>
      <p>We may also use cookies on the Site to recognize your user ID and other login information, and to store references to your user ID and other login information on your hard drive.</p>
      <p>We may use passively-collected information to administer, operate, and improve the Site and our other services and systems, and to provide services and content that are tailored to you. If we directly combine any information gathered through passive means with Personal Information, we treat the combined information as Personal Information under this Privacy Policy. Otherwise, we use information collected by passive means in aggregated or other non-personally identifiable forms.</p>
      <p>Websites visited before visiting the Site might place Personal Information within the URL of your browser during a visit to that previous website. ImageWall may unintentionally collect that information as part of referring URL information that it collects.</p>
      <p><strong>Use of Personal Information. </strong>We may use Personal Information to operate, provide, improve, and maintain the Site; to develop new products and services; to prevent abusive and fraudulent use of the Site; to send you administrative messages, content, and other services and features in which we believe you may be interested; and for other administrative and internal business purposes.</p>
      <p><strong>Disclosure of Personal Information. </strong>ImageWall is not in the business of renting or selling email addresses and other information, and does not share Personal Information with third parties except in the limited circumstances described in this Privacy Policy.</p>
      <p>ImageWall may provide Personal Information to third parties for their use in performing internal business functions (e.g., payment processing, maintenance, security, data analysis, or data hosting) on our behalf.</p>
      <p>ImageWall may disclose Personal Information if, in good faith, it is believed that doing so is required by a subpoena or other judicial or administrative order or otherwise required by law. Additionally, ImageWall may disclose Personal Information if, in good faith, we deem it appropriate or necessary to prevent violation of the ImageWall Terms and Conditions of Use or our other agreements; take precautions against liability; protect the rights, property, or safety of ImageWall, any individual, or the general public; maintain and protect the security and integrity of our services or infrastructure; protect ourselves and our services from fraudulent, abusive, or unlawful uses; investigate and defend ourselves against third-party claims or allegations; or assist government enforcement agencies.</p>
      <p><strong>Change of Ownership. </strong>In the event of a change in ownership, or a merger with, acquisition by, or sale of assets to, another entity, we reserve the right to transfer all your Personal Information, including email addresses, to that entity.</p>
      <p><strong>Security. </strong>We use industry standard security measures to protect against the loss, misuse, and alteration of Personal Information under our control. Although we make good faith efforts to maintain the security of such Personal Information, we cannot guarantee that it will remain free from unauthorized access, use, disclosure, or alteration. Further, we cannot guarantee that our security measures will prevent unauthorized persons from illegally accessing or obtaining this information. We do not assume any liability to third parties whose information you post or transmit in any form. Please keep your password secure.</p>
      <p>If we become aware of a security breach, we may attempt to notify you electronically so that you can take appropriate protective steps. By using the Site or providing Personal Information to us, you agree that we can communicate with you electronically regarding security, privacy, and administrative issues relating to your use of the Site.</p>
      <p><strong>International Use. </strong>The Site is hosted in the United States. If you use the Site from any other region with laws governing data collection and use that may differ from U.S. law, please note that by providing Personal Information under this Privacy Policy, you consent to the use of Personal Information in accordance with this Privacy Policy and the transfer of your Personal Information to the United States.</p>
      <p><strong>Changes and Updates to This Privacy Policy. </strong>We may occasionally update this Privacy Policy. We encourage you to periodically review this Privacy Policy to stay informed about our collection, use, and disclosure of Personal Information on the Site. Your continued use of the Site constitutes your agreement to this Privacy Policy and any updates.</p>
      <p><strong>Contacting ImageWall. </strong>If you have questions about this Privacy Policy, you may contact us at <a href="http://www.imagewall.com/contact" class="page-section__link">www.imagewall.com/contact</a>.</p>
    </div>
  </div>
</section>

<%= render partial: "partials/page-cta" %>