<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # ImageWall — Terms of Sale
  # location: views/legal/terms-of-sale.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<%# Meta Tags %>
<% content_for :metatags do %>
  <%= render partial: "partials/head/metatags", locals: {
    url: "https://www.imagewall.com/terms-of-sale",
    title: "Terms of Sale — ImageWall",
    description: "ImageWal's terms of sale."
  } %>
<% end %>

<header class="page-header">
  <div class="g page-header__text">
    <h1 class="g12-xs g10-md g1-md-offset page-header__title">Terms of Sale</h1>
  </div>
</header>

<section class="page-section">
  <div class="g">
    <div class="g12-xs g10-sm g1-sm-offset g8-md g2-md-offset">
      <h2 class="page-section__title">Form IW-100TC ImageWall™ Terms and Conditions of Sale</h2>
      <p>The following are the Standard Terms and Conditions of, and therefore made a part of, the purchase order, which Buyer has submitted to ImageWall™ ("Seller"). All Work between Buyer and Seller will be subject to the following conditions to the exclusion of any addition, modification or variation except any addition, modification or variation that is agreed to in writing by an authorized representative of the Seller. Buyer must carefully read and agree to this Agreement. By electronically clicking through the required consent buttons, issuance of the Purchase Order to Seller, or Signing of the Seller’s Proposal, Buyer gives its consent to be bound by this Agreement.</p>
      <ol class="page-legal__list page-legal__list--numbered">

        <li class="page-legal__item"><strong>SCOPE OF WORK:</strong> Seller, upon written acceptance of an order placed by Buyer, will supply the products and services ("Work") specified in the order to Buyer, pursuant to the terms and conditions of this Agreement and exhibit as designated by Seller. Seller's acceptance of such order submitted by Buyer is expressly limited to the terms and conditions of this Agreement and the terms and conditions as posted and updated from time to time on the ImageWall™ website (www.imagewall.com/terms) which are incorporated herein by reference. The details of the Work (e g. quantity, price, and product specifications) shall be set forth in the applicable order as designated by Seller. The terms of the applicable order are fully incorporated herein.</li>
        
        <li class="page-legal__item"><strong>PRICING AND PAYMENT TERMS:</strong>
          <ol class="page-legal__list page-legal__list--lettered">
            <li class="page-legal__item">The prices payable by Buyer for goods and services to be supplied by Seller under this Agreement will be specified in the applicable Order.</li>
            <li class="page-legal__item">Payment terms are 50% of total order paid prior to executing the Work as specified on the Order, and full balance paid prior to shipping of the Order. Seller reserves the right to:
              <ol class="page-legal__list page-legal__list--roman">
                <li class="page-legal__item">Withhold shipment of the Work until full payment is made; and/or</li>
                <li class="page-legal__item">Revoke any credit extended to Buyer to the extent applicable. In the event Buyer's account is unpaid more than ninety (90) days from invoicing, Buyer shall reimburse Seller for the costs, including reasonable attorneys' fees, of collecting such amounts from Buyer.</li>
              </ol>
            </li>
            <li class="page-legal__item">Buyer shall provide notice within five (5) business days of the occurrence of any event which materially affects Buyer's ability to perform its obligations under this Agreement.</li>
            <li class="page-legal__item">Seller shall provide notice within five (5) business days of the occurrence of any event which materially affects Seller's ability to perform its obligations under this Agreement including but not limited to:
              <ol class="page-legal__list page-legal__list--roman">
                <li class="page-legal__item">The material default of any supplier or sub-contractor</li>
                <li class="page-legal__item">Labor strike or dispute</li>
              </ol>
            </li>
            <li class="page-legal__item">Pricing schedules (whether attached to this Agreement or an Order) are subject to alteration by the Seller upon a change in the price of applicable materials (as reflected on a recognized trade or commodity pricing tracker) in excess of five percent (5%) from the date of receipt of such schedule.</li>
            <li class="page-legal__item">All sales are final and are not subject to return, refund, discount or cancellation.</li>
            <li class="page-legal__item">Seller reserves the right to modify its proposal as a result of any additional work required to accommodate or incorporate the input of consultants.  This may include the costs to provide its own consultants to address and assimilate issues that may be raised regarding the scope of work.</li>
          </ol>
        </li>

        <li class="page-legal__item"><strong>MISCELLANEOUS CHARGES:</strong> Unless otherwise expressly stated in an Order, all prices exclude shipping, insurance, permit fees, bonding, premium pay, custom fees, license fees, and other charges levied which arise out of or related to the goods or services provided pursuant to this Agreement.</li>
        
        <li class="page-legal__item"><strong>TAXES:</strong> Unless otherwise expressly stated in an Order, Seller’s price does not include any taxes, including but not limited to occupation, personal property, value-added, duties, tariffs, sales, or excise taxes. Buyer shall be liable for all such taxes. Furthermore, Buyer shall provide tax-exempt certificate to Seller at time of sale if this is not a taxable order.</li>

        <li class="page-legal__item"><strong>PRICING APPLICABILITY:</strong> Pricing on the website and attached to this Agreement or an Order is calculated automatically based on information provided by the Buyer on the ImageWall™ website. Any change in this information may cause a change in the pricing of the Order, at the sole discretion of the Seller. In addition, some special cases are not accounted for in the automatic pricing and, if applicable, may incur further costs to be determined by the Seller:
          <ol class="page-legal__list page-legal__list--lettered">
            <li class="page-legal__item">For Facade and Wall applications, the vertical substrate to which the ImageWall™ attaches must match one of the following constructions:
              <ol class="page-legal__list page-legal__list--roman">
                <li class="page-legal__item">Filled CMU block wall.</li>
                <li class="page-legal__item">Wood or metal stud wall with blocking (¾ inch plywood or equivalent) at all panel corners.</li>
                <li class="page-legal__item">Exposed, continuous concrete floor slabs at least 8 inches thick and rated to 3,000 psi between each row of panels.</li>
                <li class="page-legal__item">Steel frame with horizontal members at each horizontal panel edge.</li>
              </ol>
            </li>
            <li class="page-legal__item">No snow or ice loads are accounted for.</li>
            <li class="page-legal__item">For exterior applications allowance is made for a maximum of 20 feet between ground level and the bottom edge of the installed panels. Installation further above ground level may require stronger structure to resist higher winds.</li>
          </ol>
        </li>

        <li class="page-legal__item"><strong>LIMITED DEVELOPMENT TIME:</strong> If not otherwise specified in the Order, ImageWall™ website orders include limited development time to incorporate minor details that cannot be represented in the online design interface. Each requested modification will be subject to individual approval by a representative of the Seller. Seller reserves the right to request and receive a change order, at any point during the development time, for any modifications deemed outside of the limited development time, at Seller’s sole discretion.</li>
        
        <li class="page-legal__item"><strong>SCOPE CLARIFICATION:</strong> Prior to commencement of work, Buyer is responsible to verify all predecessor work that directly interfaces with ImageWall™'s work are within agreed to tolerances and to provide CAD drawings of all scope areas for the Seller to use in the development of shop drawings  Seller agrees to assist in determining the agreed to tolerances, assist in determining the best methods to complete the verification and will assist in the review and evaluation of data collected to determine the position of the interface in question relative to the work that Seller is to perform.</li>
        
        <li class="page-legal__item"><strong>CHANGE ORDERS:</strong> Change Orders will have burden applied separate from overhead and profit.  Change Orders must be received prior to proceeding with any new work.  If the total value of all Change Orders increases the Subcontract value by more than 10% of the original Subcontract value then Seller reserves the right to request and receive a change order for the impact of the Change Orders on the value of the original Subcontract amount.</li>
        
        <li class="page-legal__item"><strong>BUYER MATERIALS AND DATA:</strong>
          <ol class="page-legal__list page-legal__list--lettered">
            <li class="page-legal__item">Buyer represents and warrants the performance of services by Seller 
              <ol class="page-legal__list page-legal__list--roman">
                <li class="page-legal__item">does not infringe any copyright or trademark or other Intellectual Property Rights of any third party</li>
                <li class="page-legal__item">is not defamatory or obscene</li>
                <li class="page-legal__item">does not invade any person’s right to privacy, and</li>
                <li class="page-legal__item">does not otherwise violate any laws or infringe the rights of any third party.</li>
              </ol>
            </li>
            <li class="page-legal__item">Buyer represent and warrants that it has the right to use and to have Seller use on behalf of Buyer any data provided to Seller or its Affiliates by Buyer including specifically customer names, identifying information, addresses and other contact information and related personal information.</li>
          </ol>
        </li>
        
        <li class="page-legal__item"><strong>LIMITED LICENSE/INTELLECTUAL PROPERTY:</strong> Buyer acknowledges the Work is a modification to Seller's design and except as set forth specifically herein, Seller shall retain all common law, statutory and other reserved rights, including copyrights therein. Upon execution of this Agreement, the Seller grants to the Buyer a nonexclusive license to Seller’s design and name "ImageWall™" and content ("Content”) solely and exclusively for purposes of the Work, provided that Buyer substantially performs its obligations, including prompt payment of all sums when due, under this Agreement. The license granted under this section permits the Buyer to authorize its Contractor, subcontractors, sub-subcontractors, and material or equipment suppliers, as well as the Buyer’s consultants and separate contractors, to reproduce applicable portions of the Work solely and exclusively for use in performing services or construction of the Work. If Seller rightfully terminates this Agreement for cause, the license granted in this Section shall terminate.  Except for the licenses granted in this Section, no other license or right shall be deemed granted or implied under this Agreement. Buyer shall not assign, delegate, sublicense, pledge or otherwise transfer any license granted herein to another party without the prior written agreement of Seller. Notwithstanding the foregoing, any and all inventions, discoveries, patent applications, patents, copyrights, trademarks and trade names, commercial symbols, trade secrets, work product and information embodying proprietary data existing and owned by Buyer as of the date of the Order or made or conceived by employees of Buyer during the term of this Agreement and shall be and remain the sole and exclusive property of Buyer provided that Buyer grants to Seller a license to use, display and distribute (and to sub-license its affiliates and subcontractors to use, display and distribute) any intellectual property rights delivered to Seller as reasonably necessary to perform any Order. Any and all inventions, discoveries, patent applications, patents, copyrights, trademarks and trade names, commercial symbols, trade secrets, work product and information embodying proprietary data existing and owned by Seller as of the date of the Order or made or conceived by employees, consultants, representatives or agents of Seller prior to and during the term of this Agreement shall be and remain the sole and exclusive property of Seller. Without limiting the generality of the foregoing, the parties agree Seller is the sole owner of the systems (including all web source code) related to the Services provided hereunder, including all modifications. upgrades and enhancements thereto made during the term of the Order. Without limiting the generality of the foregoing, Buyer acknowledges Seller is in the business of developing customized manufactured solutions, and the provisioning of manufacturing and fulfillment order services, and Seller shall have the right to provide to third parties services that are the same or similar to the services provided herein and to adapt, use, publish or otherwise exploit any Seller materials in providing such services. Further, Seller shall have the right to include photographic or artistic representations of the Work among the Seller's promotional materials.</li>
        
        <li class="page-legal__item"><strong>CONFIDENTIAL INFORMATION:</strong> Any information that parties receive or otherwise have access to incidental to or in connection with this Agreement (collectively, the "Confidential Information"), shall be and remain the property of the disclosing party. Information shall not include information which: (i) was in the possession of the Receiving Party at the time it was first disclosed by the Disclosing Party; (ii) was in the public domain at the time it was disclosed to the Receiving Party; (iii) enters the public domain through sources independent of the Receiving Party and through no breach of this provision by the Receiving Party; (iv) is made available by the Disclosing Party to a third party on an unrestricted, non-confidential basis; v) was lawfully obtained by the Receiving Party from a third party not known by the Receiving Party to be under an obligation of confidentiality to the Disclosing Party; or (vi) was at any time developed by the Receiving Party independently of any disclosure by the Disclosing Party. Confidential Information may be used to the extent necessary to perform this Agreement and the parties shall not disclose Confidential Information to any third party, except to its agents (who have executed confidentiality agreements containing terms substantially similar to the terms) as necessary to provide the Work hereunder. In no event shall Buyer acquire any right, title or interest in and to any product or process information, including related know how, either existing or developed during the course of the business relationship with Seller and Buyer. Likewise, in no event shall Seller acquire any right, title, or interest in and to any materials or information provided to it by Buyer except as to that in the public marketplace.</li>
        
        <li class="page-legal__item"><strong>INSURANCE:</strong> Where applicable, Buyer shall name Seller on all insurance policies related to the installation of the Work.</li>
        
        <li class="page-legal__item"><strong>INSTALLATION:</strong> Buyer is solely responsible for any installation associated with the Work after receipt, including the identification, qualification and procurement of installation services. Buyer is solely responsible for obtaining any permits, inspections, licenses required for installation, covenant searches, right of way or setback restrictions, damage caused by vandalism or acts of God. Damage incurred during installation, as a result of improper installation, or under any circumstances not related to the material and workmanship of the product Seller supplied, will result in nullification of all warranties, if any. Zahner makes no guarantee that the goods will conform to any federal, state or local laws, ordinances, regulations, codes or standards. Buyer shall install and use the goods properly and according to Zahner’s written instructions (if applicable).</li>
        
        <li class="page-legal__item"><strong>CANCELLATION:</strong>
          <ol class="page-legal__list page-legal__list--lettered">
            <li class="page-legal__item">Buyer cancellation: The order is not subject to cancellation unless authorized in writing by the Seller. For authorized cancellation, Buyer shall compensate Seller for all Work completed up to the time of cancellation plus additional charges and/or cancellation fees determined at the sole discretion of the Seller.</li>
            <li class="page-legal__item">Seller cancellation: Seller reserves the right to terminate this Order for its convenience in the case of a significant delay (more than 30 days) by the Buyer or if payment has not been provided as required. Seller’s cancellation shall not waive Buyer’s payment obligation.</li>
          </ol>
        </li>

        <li class="page-legal__item"><strong>SCHEDULE:</strong> Delivery dates and lead times provided in the Order by the Seller represent an estimate only, and do not constitute a warranty and/or guarantee. Failure to meet any expressed or implied schedule date will not constitute a breach of the Order or this Agreement.</li>
        
        <li class="page-legal__item"><strong>SHIPMENT:</strong> Shipments are FOB Seller dock. Buyer must inspect all shipments carefully for damage in transit and indicate any damage on the freight bill and have the driver sign the freight bill acknowledging the damage. It is the Buyer’s responsibility to file all freight claims. Seller will assist Buyer as needed, but will not be responsible for damaged material.</li>
        
        <li class="page-legal__item"><strong>SAMPLES:</strong> Small (8 inches by 10 inches) generic unperforated samples of metal and patina specified on the Order may be provided by Seller without additional charge if available. Any additional samples or mockups may be ordered but are not included in the price of the Order. Samples supplied by Seller are for promotional purposes only and are not to be used as control materials for goods supplied.  Patina samples will change overtime and shall not be compared against freshly produced patina finishes.</li>        
        
        <li class="page-legal__item"><strong>RAW MATERIAL SUPPLY:</strong>
          <ol class="page-legal__list page-legal__list--lettered">
            <li class="page-legal__item">It is in the nature of the metal to have minor defects on the surface that is within manufacturing mill’s quality control criteria. In such circumstances these minor defects are inherent within the raw material and are unavoidable. The product is commercially viable as supplied and cannot be rejected.</li>
            <li class="page-legal__item">All forms of metal alloy can vary in tone even if supplied from the same mill production run. This is the nature of the raw material and is to be expected.  Seller will order raw material from the same production cast when possible, however, depending on the project requirement and availability of raw material, this may not be possible.</li>
            <li class="page-legal__item">Seller will inspect raw material received and reject any sheets that is deemed unacceptable to the manufacturing mill or supplier. In such event, there can be a delay in obtaining suitable replacement material. Seller will do everything within its power to mitigate this risk, however, Seller cannot be held responsible for this delay.</li>
          </ol>
        </li>

        <li class="page-legal__item"><strong>UNACCEPTABLE OR REJECTED MATERIAL:</strong> Buyer must inspect material immediately upon receipt.  Buyer must notify Seller in writing with photos of the defect within fifteen (15) calendar days after receipt of any unacceptable or rejected material. Unacceptable material must not be installed. Seller will not pay costs to remove unacceptable material.  Seller will not pay for modifying or correcting material without prior written approval.  Processing or assembly of any such rejects by Buyer or any other party shall constitute a waiver of any liability on Seller. Failure of Buyer to give written notice of a claim within the time period specified above shall be deemed to be a waiver of such claim.<br>Any material found upon inspection to be improperly processed by Seller will be replaced or repaired at Seller’s sole discretion without charge provided:
          <ol class="page-legal__list page-legal__list--lettered">
            <li class="page-legal__item">Seller have been given the opportunity to inspect the material prior to return.</li>
            <li class="page-legal__item">Materials returned are in the same condition as when originally delivered.</li>
          </ol>
          If Buyer specifies methods, materials, procedures to be followed in the Order that is outside Seller’s standard operating procedure, Seller shall assume no responsibility for the correctness of such methods, materials, and procedures or the result when they are followed. In the absence of full disclosure by the Buyer of the use of material, Seller assumes no liability for subsequent failure or defects.
        </li>

        <li class="page-legal__item"><strong>STORAGE AND PROTECTION:</strong> Upon receipt and inspection, Buyer shall protect and store material in a dry and climate controlled location as metal surfaces are sensitive to humidity and temperature changes. Failure for Buyer to do so shall void any finish warranty if applicable.</li>

        <li class="page-legal__item"><strong>DELAY:</strong> The costs for a material delay (typically defined as a delay in excess of 30 calendar days) shall include both the direct and indirect increase in cost as well as the additional administrative cost.  Burden, overhead and profit will apply on top of those direct costs for the damages due to the delay.  If the delay is more significant (exceeds 60 calendar days) then the additional costs will include the Home Office Overhead based on Anderson’s Modified Eichleay Formula.</li>

        <li class="page-legal__item"><strong>INDEMNIFICATION:</strong>
          <ol class="page-legal__list page-legal__list--lettered">Buyer  agrees to indemnify and hold harmless Seller from and against any and all claims, demands, actions, causes of action, costs and expenses arising out of or in connection with, in whole or in part, any acts(s) or omission(s), negligent or otherwise, of Buyer, or any of Buyer’s agents, servants, employees, subcontractors or customers, including but not limited to: (i) claims of personal injury, including death, to any person or persons; (ii) claims of loss of any property, real or personal; (iii) claims of any unfair competition, any infringement of any copyright or trademark or other intellectual property rights of any third party; and (iii) any and all other damages recognized at law or in equity under any theory whatsoever.</ol>
          <ol class="page-legal__list page-legal__list--lettered">This indemnity includes, but is not limited to, any reasonable attorney’s fee or other reasonable legal fees incurred by Seller and associated with the foregoing. </ol>
          <ol class="page-legal__list page-legal__list--lettered">This indemnity provision is a material term to the Agreement. Buyer’s duty to indemnify is a condition to the sale of any goods from Seller to Buyer. Buyer has read the indemnification provision in its entirety, understands each and every part of the provision and acknowledges that there is no ambiguity concerning Buyer’s duty to indemnify.</ol>
          <ol class="page-legal__list page-legal__list--lettered">In the event that the applicable law prohibits enforcement of this clause as written, then and only then, this clause will be modified to provide the maximum indemnification to Seller, as indemnitee, allowable under that applicable law.</ol>
        </li>

        <li class="page-legal__item"><strong>BREACH:</strong> In addition to all other rights to which a party is entitled under this Agreement, if either party breaches any term of the Order or the Agreement, the non-breaching party shall have the right to: (a) terminate the Order immediately upon written notice to the other party; and (b) seek to obtain injunctive relief to prevent such breach or to otherwise enforce the terms of this Agreement. Failure to properly demand compliance or performance of any term of the Order or this Agreement shall not constitute a waiver of Seller's rights hereunder, and prior to any claim for damages being made for non-conformance or breach, Buyer shall provide Seller with reasonable notice of any alleged deficiencies in the Work or performance under the Order or this Agreement and Seller shall have a reasonable opportunity to cure any such alleged non-conformance or breach.</li>
        
        <li class="page-legal__item"><strong>WARRANTY:</strong> If applicable as part of the Seller’s proposal, Seller warrants the Work according to ImageWall Standard Warranty (IW-200WT) which shall reasonably conform to specifications as agreed by the Parties in all material respects, in so far as the Work meets the standards for the current International Building Code. Seller Will not provide refunds for any Work conforming to specifications in all material respects. Seller is not responsible and will not be liable for any deviation from the digital images or any representation thereof. <strong>EXCEPT FOR THE WARRANTIES EXPRESSLY STATED HEREIN, SELLER MAKES NO EXPRESS OR IMPLIED WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS WHATSOEVER WITH RESPECT TO THE WORK. SELLER EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. IN THE EVENT OF ANY BREACH OF ANY WARRANTY, BUYER'S EXCLUSIVE REMEDY SHALL BE THAT SELLER SHALL, AT ITS OPTION, REPAIR OR REPLACE ANY DEFECTIVE GOODS AT NO COST TO BUYER OR REFUND ANY PURCHASE PFUCE PAID FOR SUCH WORK.</strong></li>
        
        <li class="page-legal__item"><strong>LIMITATION OF LIABILITY: IN NO EVENT SHALL EITHER PARTY BE LIABLE HEREUNDER FOR INCIDENTAL, SPECIAL, INDIRECT, CONSEQUENTIAL, OR PUNITIVE DAMAGES EVEN IF ADVISED IN ADVANCE OF THE POSSIBILITY FOR SUCH DAMAGES AND SELLER'S TOTAL LIABILITY FOR DAMAGES UNDER THIS AGREEMENT AND THE ORDER SHALL BE LIMITED TO THE TOTAL FEES DUE HEREUNDER FOR THE ORDER UPON WHICH A CLAIM IS BASED.</strong></li>
        
        <li class="page-legal__item"><strong>DISPUTE RESOLUTION:</strong> Any disputes or differences that are not able to be resolved within 30 days through negotiation will be submitted for mediation.  If the dispute is not resolved within 30 additional days, it will be subject to binding arbitration in Kansas City, Missouri per the rules of the American Arbitration Association.  If both parties have claims as part of the arbitration, the party whose claim has the highest percentage awarded will have its court costs and legal fees reimbursed to the same percentage of award.  If a single party has a claim that is arbitrated, the court costs and legal fees will be paid for by the losing party as determined by the arbitrator.</li>
        
        <li class="page-legal__item"><strong>NOTICE:</strong> Any notice sent pursuant to the Order or this Agreement shall be sent by certified mail, return receipt requested, or by overnight mail to the addresses on the Order or to such address as either party may in the future designate. Notices to the Seller will be shared with Seller's General Counsel, at Seller's discretion. Notices shall be effective upon receipt.</li>
        
        <li class="page-legal__item"><strong>ASSIGNMENT AND THIRD PARTY BENEFICIARIES:</strong> Buyer and Seller, respectively, bind themselves, their agents, successors, assigns and legal representatives to this Agreement. Neither the Buyer nor the Seller shall assign this Agreement without the written consent of the other. Notwithstanding the foregoing, Seller may, without the Buyer's consent, assign the Agreement and/or otherwise delegate its rights and obligations under the Agreement to: (a) a current or future company with financial capability to fulfill the Seller’s obligations under the Agreement or (b) a party that acquires substantially all of the Seller's business assets by acquisition, merger, consolidation or similar transaction Notwithstanding Sellers assignment rights set forth herein, nothing contained in this Agreement shall create a contractual relationship with or a cause of action in favor of a third party against either the Buyer or Seller.</li>
        
        <li class="page-legal__item"><strong>STATUS:</strong> It is agreed and understood that Sellers relationship to Buyer is that of an independent contractor. Neither party will be deemed to be a partner, agent, employee or joint venture of the other party.</li>
        
        <li class="page-legal__item"><strong>COMPLIANCE WITH LAW:</strong> Seller shall comply with all state, federal and local laws and regulations applicable to its performance hereunder.</li>
        
        <li class="page-legal__item"><strong>GOVERNING LAW:</strong> The Order and this Agreement shall be governed by the laws of the State of Missouri, without reference to conflicts of law principles. Any legal suit, action or proceeding arising out of or relating to the Order or this Agreement shall be commenced in a federal court in Missouri or in State court in the County of Jackson, Missouri, and the appellate courts thereof, and each party hereto irrevocably submits to the exclusive jurisdiction and venue of any such court in any such suit, action or proceeding. With respect to any litigation arising out of the Order or this Agreement, the parties expressly waive any right they may have to a jury trial and agree that any such litigation shall be tried by a judge without a jury and the prevailing party shall be entitled to recover its expenses, including reasonable attorney's fees, from the other party.</li>
        
        <li class="page-legal__item"><strong>FORCE MAJEURE:</strong> Neither party shall be liable for any failure to perform or delay in performance of this Agreement to the extent that any such failure arises from acts of God, war, civil insurrection or disruption, riots, government act or regulation, strikes, lockouts, labor disruption, cyber or hostile network attacks, inability to obtain raw or finished materials, inability to secure transport, or any cause beyond such party's commercially reasonable control.</li>
        
        <li class="page-legal__item"><strong>DURATION OF OBLIGATIONS AND SURVIVAL:</strong> The obligations imposed by this Agreement will survive the completion of the Agreement. ln the event any provision of the Order or this Agreement is held by a tribunal of competent jurisdiction to be contrary to the law, the remaining provisions of the Order or this Agreement will remain in full force and effect. All sections herein relating to payment, ownership, confidentiality, indemnification and duties of defense, representations and warranties, waiver, waiver of jury trial and provisions which by their terms extend beyond the Term shall survive the termination of the Order and this Agreement.</li>
        
        <li class="page-legal__item"><strong>VALIDITY OF QUOTATION:</strong> This quotation is good for seven (7) days from the date listed on the quotation. Any additional term or condition not specifically enumerated above will have as its basis the terms and conditions of the AIA A401 subcontract.</li>

        <li class="page-legal__item"><strong>COMPLIANCE WITH EXPORT LAWS:</strong> Buyer at all times will comply with all laws of the United States, and of applicable foreign jurisdictions including export laws and regulations.</li>
        
        <li class="page-legal__item"><strong>ENTIRE AGREEMENT:</strong> The Order, this Agreement, the ImageWall™ Website, and the ImageWall™ Website Terms of Use ("Terms of Use") set forth the entire agreement and understanding among the parties as to the subject matter hereof, and merge and supersede all prior discussions, agreements, and understandings of every and any nature among them. No party shall be bound by any condition, definition, warranty, or representations, other than as expressly set forth or provided for in the applicable Order, this Agreement, or Terms of Use or as may be, on or subsequent to the date hereof set forth in writing and signed by the party to be bound thereby. In the event of any ambiguity or conflict between any of the terms and conditions contained in this Agreement and the terms and conditions contained in an Order or Terms of Use, the terms and conditions of this Agreement shall control. The Order or this Agreement may not be amended, supplemented, changed, or modified, except by agreement in writing signed by the parties to be bound thereby. . If any of above Articles is adjudged to be or to have become invalid or unenforceable by law, the validity, legality and enforceability of the remaining provisions of the agreement shall not in any way be affected or impaired.</li>
        
      </ol>
      <p>BUYER’S ACCEPTANCE TO THIS TERMS AND CONDITIONS OF SALE IS REQUIRED PRIOR TO ORDER EXECUTION. BUYER ACKNOWLEDGES THAT IT HAS READ AND AGREES TO THE TERMS IN ITS ENTIRETY.  </p>

      <p>Issued/Revised on: 2018-02-21</p>
    </div>
  </div>
</section>

<%= render partial: "partials/page-cta" %>