<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # ImageWall Admin — Projects Index
  # location: views/admin/projects/index.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<header class="page-header">
	<div class="g">
		<div class="g8-xs">
			<h1 class="page-header__title">Projects</h1>
		</div>
		<div class="g4-xs page-header__actions">
			 <a href="/gallery" class="page-button page-button--yellow" target="_blank">Preview Page</a>
		</div>
		<div class="g12-xs">
			<button class="page-header__link js-get-things-index" value="gallery">Edit Projects</button>
			<button class="page-header__link js-get-categories-index" value="gallery">Edit Categories</button>
		</div>
	</div>
</header>
<section class="page-section js-thing-category-index">
  <%= render partial: "admin/partials/thing_category_index", locals: { 
    things: @projects,
    pathname: "gallery",
    thing_type: "Project"
  } %>
</section>