<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # ImageWall Gallery (Projects) Modal
  # location: views/gallery/modal.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<div class="g project__modal-controls">
	<div class="g6-xs modal-control__button" data-modal-close>
		<span class="modal-control__arrow"></span>
		<span class="modal-control__back">Back</span>
	</div>
	<div class="g6-xs modal-control__button modal-control__button--right" data-modal-close>
		<span class="modal-control__close">Close</span>
	</div>
</div>

<%= render partial: "partials/project", locals: { project: project, modal: modal } %>