// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Custom – Gallery (Projects) Modal
// stylesheets/custom/gallery/_modal.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


body.projects.index.vanilla-modal[data-current-modal="project-modal"] .modal {
  background: $color-white;
}

body.projects.index[data-current-modal="project-modal"] .modal-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: $grid-xs-width;
  min-height: 100vh;
  max-height: none;
  margin-top: 3.75em;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: $color-white;
  z-index: -1;
  opacity: 0;
  transform: scale(0) translateY(18em);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
  @media only screen and (min-width: $screen-sm-min) {
    max-width: $grid-sm-width;
  }
  @media only screen and (min-width: $screen-md-min) {
    max-width: $grid-md-width;
  }
  @media only screen and (min-width: $screen-lg-min) {
    max-width: $grid-lg-width;
  }
  @media only screen and (min-width: $screen-xl-min) {
    max-width: $grid-xl-width;
  }
}
body.projects.index[data-current-modal="project-modal"].modal-is-open .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 0.2s, transform 0.2s;
}
body.projects.index.vanilla-modal[data-current-modal="project-modal"] .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  text-align: left;
}

.project__modal-controls {
  height: 3.75em;
  align-items: center;
}
.modal-control__button--right {
  text-align: right;
}
.modal-control__back {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: $color-black;
  font-size: $font-size-6 * 1px;
  font-size: $font-size-6 / 16 * 1em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  // @media only screen and (min-width: $screen-md-min) {
  //   font-size: $font-size-5 * 1px;
  //   font-size: $font-size-5 / 16 * 1em;
  // }
}
.modal-control__arrow {
  position: relative;
  top: -2px;
  right: 2px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: initial;
}
.modal-control__arrow:before,
.modal-control__arrow:after {
  content: "";
  position: relative;
  display:inline-block;
  vertical-align: middle;
  box-sizing: initial;
}
.modal-control__arrow:before {
  right: -7px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-left: 2px solid $color-black;
  border-bottom: 2px solid $color-black;
  transform: rotate(45deg);
  transition: border-color 400ms $transition;
}
.modal-control__arrow:after {
  width: 14px;
  height: 2px;
  background-color: $color-black;
  transition: background-color 400ms $transition;
}


.modal-control__close {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: $color-black;
  font-size: $font-size-6 * 1px;
  font-size: $font-size-6 / 16 * 1em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  // @media only screen and (min-width: $screen-md-min) {
  //   font-size: $font-size-6 * 1px;
  //   font-size: $font-size-6 / 16 * 1em;
  // }
}
.modal-control__close:after {
  content: "\00D7";
  display: inline-block;
  vertical-align: middle;
  color: $color-black;
  font-size: $font-size-3 * 1px;
  font-size: $font-size-3 / 16 * 1rem;
  font-weight: 400;
  line-height: 0;
  @media only screen and (min-width: $screen-md-min) {
    margin-top: -2px;
    margin-left: 0.25em;
    font-size: 36 * 1px;
    font-size: 36 / 16 * 1rem;
  }
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: transparent !important;
    background: transparent !important;
    cursor: pointer;
    /* vertically center */
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.flickity-prev-next-button:hover {
    background: transparent;
}

.flickity-prev-next-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
    opacity: 0.6;
}

.flickity-prev-next-button.previous {
    left: 10px;
}

.flickity-prev-next-button.next {
    right: 10px;
}
