<section class="page-section g">
  <div class="g12-xs">
    <h3 class="page-section__title"><%= title %></h3>
  </div>
  <div class="g12-xs g6-md">
    <h4 class="page-section__subtitle"><%= subtitle %></h3>
    <p class="page-section__description"><%= description %></p>
    <button class="page-section__button">To Other Page</button>
  </div>
  <div class="g12-xs g6-md g5-lg g1-lg-offset">
    <!-- 520x480 -->
    <img src="<%= image %>" />
  </div>
</section>