<%= ix_image_tag(thing.image, { q: 60, fit: "min", sizes: "33.33333vw", widths: [320, 640, 750, 960, 1080, 1280, 1440, 1600], class: "page-edit__image" }) %>
<button class="page-button page-button--gray js-delete-image">Replace</button>