<div class="page-edit__medium medium js-medium" data-id="<%= medium.id %>">
<%= ix_image_tag(medium.url, { q: 60, fit: "min", sizes: "16.66667vw", widths: [320, 640, 750, 960, 1080, 1280, 1440, 1600], class: "page-edit__image js-medium-image" }) %>
  <button class="page-button page-button--gray js-destroy-medium">Remove</button>
</div>