// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Blocks – Grid Helpers
// stylesheets/blocks/_grid-helpers.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.show-xs,
.hide-xs-only,
.hide-sm,
.hide-sm-only,
.hide-md,
.hide-md-only,
.hide-lg,
.hide-lg-only,
.hide-xl, {
	display: block;
}
.show-xs-inline {
	display: inline-block;
}

.hide-xs,
.show-xs-only,
.show-xs-inline-only,
.show-sm,
.show-sm-inline,
.show-sm-only,
.show-sm-inline-only,
.show-md,
.show-md-inline,
.show-md-only,
.show-md-inline-only,
.show-lg,
.show-lg-inline,
.show-lg-only,
.show-lg-inline-only,
.show-xl,
.show-xl-inline {
	display: none !important;
}

.text-xs-right {
	text-align: right;
}
.text-xs-left {
	text-align: left;
}
.text-xs-center {
	text-align: center;
}
.text-sm-right,
.text-sm-left,
.text-sm-center,
.text-md-right,
.text-md-left,
.text-md-center,
.text-lg-right,
.text-lg-left,
.text-lg-center,
.text-xl-right,
.text-xl-left,
.text-xl-center {
	text-align: none;
}

@media only screen and (max-width: $screen-xs-max) {
	.show-xs-only {
		display: block !important;
	}
	.show-xs-inline-only {
		display: inline-block !important;
	}
	.hide-xs-only {
		display: none !important;
	}
}

@media only screen and (min-width: $screen-sm-min) {
	.show-sm {
		display: block !important;
	}
	.show-sm-inline {
		display: inline !important;
	}
	.hide-sm {
		display: none !important;
	}
	.text-sm-right {
		text-align: right;
	}
	.text-sm-left {
		text-align: left;
	}
	.text-sm-center {
		text-align: center;
	}
}

@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.show-sm-only {
		display: block !important;
	}
	.show-sm-inline-only {
		display: inline-block !important;
	}
	.hide-sm-only {
		display: none !important;
	}
}

@media only screen and (min-width: $screen-md-min) {
	.show-md {
		display: block !important;
	}
	.show-md-inline {
		display: inline-block !important;
	}
	.hide-md {
		display: none !important;
	}
	.text-md-right {
		text-align: right;
	}
	.text-md-left {
		text-align: left;
	}
	.text-md-center {
		text-align: center;
	}
}

@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.show-md-only {
		display: block !important;
	}
	.show-md-inline-only {
		display: inline-block !important;
	}
	.hide-md-only {
		display: none !important;
	}
}

@media only screen and (min-width: $screen-lg-min) {
	.show-lg {
		display: block !important;
	}
	.show-lg-inline {
		display: inline-block !important;
	}
	.hide-lg {
		display: none !important;
	}
	.text-lg-right {
		text-align: right;
	}
	.text-lg-left {
		text-align: left;
	}
	.text-lg-center {
		text-align: center;
	}
}

@media only screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
	.show-lg-only {
		display: block !important;
	}
	.show-lg-inline-only {
		display: inline-block !important;
	}
	.hide-xl-only {
		display: none !important;
	}
}

@media only screen and (min-width: $screen-xl-min) {
	.show-xl {
		display: block !important;
	}
	.show-xl-inline {
		display: inline-block !important;
	}
	.hide-xl {
		display: none !important;
	}
	.text-xl-right {
		text-align: right;
	}
	.text-xl-left {
		text-align: left;
	}
	.text-xl-center {
		text-align: center;
	}
}