// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Blocks – Menu
// stylesheets/blocks/_menu.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.menu-desktop {
	position: relative;
	display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
	width: 100%;
  max-width: $grid-xs-width;
  height: 3.75em;
  margin: 0 auto;
  padding-left: $grid-xs-padding;
  padding-right: $grid-xs-padding;
  @media only screen and (min-width: $screen-sm-min) {
    max-width: $grid-sm-width;
    padding-left: $grid-sm-padding;
    padding-right: $grid-sm-padding;
  }
  @media only screen and (min-width: $screen-md-min) {
    max-width: $grid-md-width;
    padding-left: $grid-md-padding;
    padding-right: $grid-md-padding;
  }
  @media only screen and (min-width: $screen-lg-min) {
    max-width: $grid-lg-width;
    padding-left: $grid-lg-padding;
    padding-right: $grid-lg-padding;
  }
  @media only screen and (min-width: $screen-xl-min) {
    max-width: $grid-xl-width;
    padding-left: $grid-xl-padding;
    padding-right: $grid-xl-padding;
  }
}
.menu-is-open .menu-desktop {
  border-bottom: 1px solid $color-black;
}
.menu-desktop__list {
  padding: 0 $grid-gutter;
}
.menu-desktop__list:first-child .menu-desktop__item {
  display: none;
  @media only screen and (min-width: $screen-md-min) {
    display: list-item;
  }
}
.menu-desktop__list:first-child .menu-desktop__item:first-child {
  display: list-item;
}
.menu-desktop__item {
  float: left;
  padding: 1.125em 0 0.875em;
}
.menu-desktop__item--search {
  display: none;
  padding: 0.75em 0;
  @media only screen and (min-width: $screen-sm-min) {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
  }
}
.menu-desktop__item--admin,
.menu-desktop__item--login,
.menu-desktop__item--logout,
.menu-desktop__item--profile {
  display: none;
  text-align: right;
  @media only screen and (min-width: 1100px) {
    display: list-item;
  }
}
.menu-desktop__item--login {
  @media only screen and (min-width: $screen-md-min) {
    display: list-item;
  }
  // If login menu item is visible, don't hide just "Login" early.  
  &+.menu-desktop__item--mobile {
    @media only screen and (min-width: $screen-md-min) {
      display: none;
    }
  }
}
.menu-desktop__item--mobile {
  margin-left: 2rem;
  padding: 1.125rem 0 1rem;
  @media only screen and (min-width: 1100px) {
    display: none;
  }
}
.menu-desktop__logo {
  margin-right: 2em;
  color: $color-black;
  font-size: $font-size-4 * 1px;
  font-size: $font-size-4 / 16 * 1em;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: 0.075em;
  text-transform: uppercase;

  @media only screen and (min-width: $screen-lg-min) {
    margin-right: 2.9em;
  }
}
body.application.index .menu-desktop__logo {
  color: $color-white;
  text-shadow: 0 0 2rem rgba(15,16,16,0.5);
}
body.application.index.is-scrolled .menu-desktop__logo,
body.application.index.menu-is-open .menu-desktop__logo {
  color: $color-black;
  text-shadow: none;
}
.menu-desktop__link {
  margin-right: 1.5em;
  color: $color-black;
  font-size: $font-size-5 * 1px;
  font-size: $font-size-5 / 16 * 1em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00625em;
  border: none;
  background: none;
  transition: color 400ms $transition;
  
  @media only screen and (min-width: $screen-lg-min) {
    margin-right: 2em;
  }
}
.menu-desktop__item:last-child .menu-desktop__link {
  margin-right: 0;
}
body.application.index .menu-desktop__link {
  color: $color-white;
  text-shadow: 0 0 2rem rgba(15,16,16,0.5);
}
body.application.index.is-scrolled .menu-desktop__link {
  color: $color-black;
  text-shadow: none;
}
.menu-desktop__link:hover {
  color: $color-yellow;
}
.menu-desktop__link.is-active {
  font-weight: 700;
}
.menu-desktop__link.is-active:hover {
  color: $color-black;
}
.menu-desktop__link--admin,
.menu-desktop__link--login,
.menu-desktop__link--logout,
.menu-desktop__link--profile {
  color: $color-gray-4;
  margin-left: 1.5em;
  margin-right: 0;
  padding: 0;

  @media only screen and (min-width: $screen-md-max) {
    margin-left: 2em;
  }
}
body.application.index .menu-desktop__link--admin,
body.application.index .menu-desktop__link--login,
body.application.index .menu-desktop__link--logout,
body.application.index .menu-desktop__link--profile {
  color: $color-white;
}
body.application.index.is-scrolled .menu-desktop__link--admin,
body.application.index.is-scrolled .menu-desktop__link--login,
body.application.index.is-scrolled .menu-desktop__link--logout,
body.application.index.is-scrolled .menu-desktop__link--profile {
  color: $color-gray-4;
}
.menu-desktop__link--profile {
  position: relative;
}
.menu-desktop__dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  width: 320px;
  padding: 20px;
  background: #fff;
  border: 1px solid $color-gray-2;
  border-top: none;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
  transition: all 175ms ease-out;
}
.menu-desktop__dropdown.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.menu-desktop__dropdown-title {
  margin: 16px 0 24px;
} 
.menu-desktop__dropdown-row {
  display: flex;
  margin-bottom: 8px;
}
.menu-desktop__dropdown-image {
  background: $color-gray-1;
  text-align: center;
  width: 60px;
  height: 30px;
  margin: 2.5px 8px 2.5px 0;

  img {
    max-width: 60px;
    max-height: 30px;
  }
}
.menu-desktop__dropdown-text {
  display: inline-block;
  vertical-align: middle;
  color: $color-gray-4;
  font-size: $font-size-5 * 1px;
  font-size: $font-size-5 / 16 * 1em;
  margin-top: 7px;
  width: 206px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-desktop__dropdown-link {
  display: inline-block;
  background: $color-yellow;
  width: 100%;
  text-align: center;
  margin-top: 16px;
  padding: 12px 0;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}
.menu-desktop__caret {
  display: inline-block;
  vertical-align: top;
  box-sizing: initial;
  margin-top: -3px;
  margin-left: 0.25em;
}
body.application.index .menu-desktop__caret {
  display: none;
}
body.application.index.is-scrolled .menu-desktop__caret {
  display: inline-block;
}
.menu-desktop__caret:after {
  content: "";
  position: relative;
  display:inline-block;
  vertical-align: middle;
  box-sizing: initial;
  width: 5px;
  height: 5px;
  background: transparent;
  border-right: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
  transform: rotate(45deg);
  @media only screen and (min-width: $screen-sm-min) {
    width: 6px;
    height: 6px;
  }
}
body.application.index .menu-desktop__caret:after {
  border-color: $color-white;
}
body.application.index.is-scrolled .menu-desktop__caret:after {
  border-color: $color-black;
}
.menu-desktop__input {
  height: 34px;
  width: 11.5em;
  padding: 0.75em 1.25em;
  border: 0;
  border-radius: 0;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  outline: none;
  background-color: $color-gray-1;
  font-size: $font-size-6 * 1px;
  font-size: $font-size-6 / 16 * 1em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  @media only screen and (min-width: $screen-lg-min) {
    width: 17em;
  }
}
body.application.index .menu-desktop__input {
  background-color: rgba(247,249,249,0.25);
}
body.application.index.is-scrolled .menu-desktop__input,
body.application.index.menu-is-open .menu-desktop__input {
  background-color: $color-gray-1;
}

// Webkit Placeholders
.menu-desktop__input::-webkit-input-placeholder {
  opacity: 1;
  color: $color-gray-4;
  transition: all 400ms $transition;
}
body.application.index .menu-desktop__input::-webkit-input-placeholder {
  color: $color-white;
}
body.application.index.is-scrolled .menu-desktop__input::-webkit-input-placeholder,
body.application.index.menu-is-open .menu-desktop__input::-webkit-input-placeholder {
  color: $color-gray-4;
}
.menu-desktop__input:focus::-webkit-input-placeholder {
  color: $color-gray-3;
}
body.application.index .menu-desktop__input:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
body.application.index.is-scrolled .menu-desktop__input:focus::-webkit-input-placeholder,
body.application.index.menu-is-open .menu-desktop__input:focus::-webkit-input-placeholder {
  color: $color-gray-3;
}

// IE Placeholders
.menu-desktop__input:-ms-input-placeholder {
  opacity: 1;
  color: $color-gray-4;
  transition: all 400ms $transition;
}
body.application.index .menu-desktop__input:-ms-input-placeholder {
  color: $color-white;
}
body.application.index.is-scrolled .menu-desktop__input:-ms-input-placeholder,
body.application.index.menu-is-open .menu-desktop__input:-ms-input-placeholder {
  color: $color-gray-4;
}
.menu-desktop__input:focus:-ms-input-placeholder {
  color: $color-gray-3;
}
body.application.index .menu-desktop__input:focus:-ms-input-placeholder {
  opacity: 0.5;
}
body.application.index.is-scrolled .menu-desktop__input:focus:-ms-input-placeholder,
body.application.index.menu-is-open .menu-desktop__input:focus:-ms-input-placeholder {
  color: $color-gray-3;
}

// Firefox Placeholders
.menu-desktop__input:-moz-placeholder {
  opacity: 1;
  color: $color-gray-4;
  transition: all 400ms $transition;
}
body.application.index .menu-desktop__input:-moz-placeholder {
  color: $color-white;
}
body.application.index.is-scrolled .menu-desktop__input:-moz-placeholder,
body.application.index.menu-is-open .menu-desktop__input:-moz-placeholder {
  color: $color-gray-4;
}
.menu-desktop__input:focus:-moz-placeholder {
  color: $color-gray-3;
}
body.application.index .menu-desktop__input:focus:-moz-placeholder {
  opacity: 0.5;
}
body.application.index.is-scrolled .menu-desktop__input:focus:-moz-placeholder,
body.application.index.menu-is-open .menu-desktop__input:focus:-moz-placeholder {
  color: $color-gray-3;
}

.menu-desktop__button {
  position: relative;
  width: 21px;
  height: 24px;
  padding: 0;
  font-size: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  text-indent: -9999px;
  z-index: 600;
  background: transparent;
}
.menu-desktop__button:focus {
  outline: none;
}
.menu-desktop__button-line {
  position: absolute;
  display: block;
  background-color: $color-black;
  width: 100%;
  height: 3px;
  padding: 0;
  z-index: 6;
  transition: transform 200ms $transition, opacity 200ms $transition, background-color 200ms $transition;
  @media only screen and (min-width: $screen-sm-min) {
    background-color: $color-black;
  }
}
body.application.index .menu-desktop__button-line {
  background-color: $color-white;
}
.menu-is-open .menu-desktop__button-line, 
body.application.index.is-scrolled .menu-desktop__button-line,
body.application.index.menu-is-open .menu-desktop__button-line {
  background-color: $color-black;
}
.menu-desktop__button-line:nth-child(1) {
  top: 0;
}
.menu-desktop__button-line:nth-child(2) {
  top: 8px;
}
.menu-desktop__button-line:nth-child(3) {
  top: 16px;
}
.menu-is-open .menu-desktop__button-line:nth-child(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
.menu-is-open .menu-desktop__button-line:nth-child(2) {
  opacity: 0;
  transition: opacity 0ms;
}
.menu-is-open .menu-desktop__button-line:nth-child(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}
.menu-desktop__submit {
  flex: 0 1 auto;
  height: 34px;
  padding-left: 1em;
  outline: none;
  border: 0;
  border-radius: 0;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background-color: $color-gray-1;
  cursor: pointer;
}
body.application.index .menu-desktop__submit {
  background-color: rgba(247, 249, 249, 0.25);
}
body.application.index.is-scrolled .menu-desktop__submit {
  background-color: $color-gray-1;
}
.menu-desktop__arrow {
  position: relative;
  top: -2px;
  right: 2px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: initial;
}
.menu-desktop__arrow:before,
.menu-desktop__arrow:after {
  content: "";
  position: relative;
  display:inline-block;
  vertical-align: middle;
  box-sizing: initial;
}
.menu-desktop__arrow:before {
  width: 14px;
  height: 2px;
  background-color: $color-gray-4;
  transition: background-color 400ms $transition;
}
body.application.index .menu-desktop__arrow:before {
  background-color: $color-white;
}
body.application.index.is-scrolled .menu-desktop__arrow:before {
  background-color: $color-gray-4;
}
.menu-desktop__arrow:hover:before {
  background-color: $color-black;
}
body.application.index .menu-desktop__arrow:hover:before {
  background-color: $color-black;
}
body.application.index.is-scrolled .menu-desktop__arrow:hover:before {
  background-color: $color-black;
}
.menu-desktop__arrow:after {
  left: -7px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-top: 2px solid $color-gray-4;
  border-right: 2px solid $color-gray-4;
  transform: rotate(45deg);
  transition: border-color 400ms $transition;
}
body.application.index .menu-desktop__arrow:after {
  border-color: $color-white;
}
body.application.index.is-scrolled .menu-desktop__arrow:after {
  border-color: $color-gray-4;
}
.menu-desktop__arrow:hover:after {
  border-color: $color-black;
}
body.application.index .menu-desktop__arrow:hover:after {
  border-color: $color-black;
}
body.application.index.is-scrolled .menu-desktop__arrow:after {
  border-color: $color-black;
}