// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Blocks – Page Header
// stylesheets/blocks/_page-header.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.page-header {
	position: relative;
	width: 100%;
	text-align: center;
}

.page-header--home {
	height: 18em;
	text-align: left;
	@media only screen and (min-width: $screen-xs-min) {
		height: 20em;
	}
	@media only screen and (min-width: $screen-sm-min) {
		height: 25em;
	}
	@media only screen and (min-width: $screen-md-min) {
		height: 30em;
	}
	@media only screen and (min-width: $screen-lg-min) {
		height: 33.75em;
	}
	@media only screen and (min-width: $screen-xl-min) {
		height: 37.5em;
	}
}
.page-header__overlay {
	position: absolute;
	width: 100%;
	height: 18em;
	background: -moz-linear-gradient(top, rgba(15,16,16,0.25) 0%, rgba(15,16,16,0) 100%);
	background: -webkit-linear-gradient(top, rgba(15,16,16,0.25) 0%, rgba(15,16,16,0) 100%);
	background: linear-gradient(to bottom, rgba(15,16,16,0.25) 0%, rgba(15,16,16,0) 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#0a0a0a',GradientType=0 );
	@media only screen and (min-width: $screen-xs-min) {
		height: 20em;
	}
	@media only screen and (min-width: $screen-sm-min) {
		height: 25em;
	}
	@media only screen and (min-width: $screen-md-min) {
		height: 30em;
	}
	@media only screen and (min-width: $screen-lg-min) {
		height: 33.75em;
	}
	@media only screen and (min-width: $screen-xl-min) {
		height: 37.5em;
	}
}
.page-header__frame {
	position: absolute;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
}
.page-header__frame--home {
	height: 18em;
	opacity: 1;
	@media only screen and (min-width: $screen-xs-min) {
		height: 20em;
	}
	@media only screen and (min-width: $screen-sm-min) {
		height: 25em;
	}
	@media only screen and (min-width: $screen-md-min) {
		height: 30em;
	}
	@media only screen and (min-width: $screen-lg-min) {
		height: 33.75em;
	}
	@media only screen and (min-width: $screen-xl-min) {
		height: 37.5em;
	}
}
.page-header__image {
	position: absolute;
	display: block;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}
.page-header__text {
	position: relative;
	padding-top: 6em;
	text-align: center;
}
.page-header--home .page-header__text {
	padding-top: 4.5em;
	@media only screen and (min-width: $screen-xs-min) {
		padding-top: 5.75em;
	}
	@media only screen and (min-width: $screen-sm-min) {
		padding-top: 8em;
	}
	@media only screen and (min-width: $screen-md-min) {
		padding-top: 10em;
	}
	@media only screen and (min-width: $screen-lg-min) {
		padding-top: 10.5em;
	}
	@media only screen and (min-width: $screen-xl-min) {
		padding-top: 12em;
	}
}
.page-header__title {
	margin-top: 0;
	margin-bottom: 0.25em;
}
.page-header--home .page-header__title {
	display: block;
	margin-right: 0.1875em;
	margin-bottom: 0.5rem;
	text-shadow: 0 0 3rem rgba(15,16,16,0.5);
	color: $color-white;
	font-size: $font-size-3 * 1px;
	font-size: $font-size-3 / 16 * 1em;
	line-height: 1.125em;
	letter-spacing: 0;
	@media only screen and (min-width: $screen-xs-min) {
		font-size: $font-size-2 * 1px;
		font-size: $font-size-2 / 16 * 1em;
	}
	@media only screen and (min-width: $screen-sm-min) {
		display: inline;
		margin-bottom: 0;
		font-size: $font-size-1 * 1px;
		font-size: $font-size-1 / 16 * 1em;
		letter-spacing: 0.00625em;
	}
	@media only screen and (min-width: $screen-md-min) {
		font-size: 48 * 1px;
		font-size: 48 / 16 * 1em;
	}
	@media only screen and (min-width: 1025px) {
		font-size: $font-size-0 * 1px;
		font-size: $font-size-0 / 16 * 1em;
	}
}
.page-header__title--400 {
	font-weight: 400;
}
.page-header__list,
.page-header__description {
	margin-top: 0;
	margin-bottom: 0;
	color: $color-black;
	font-size: $font-size-3 * 1px;
	font-size: $font-size-3 / 16 * 1em;
	line-height: 1.125em;
	@media only screen and (min-width: $screen-sm-min) {
		font-size: $font-size-2 * 1px;
		font-size: $font-size-2 / 16 * 1em;
	}
}
.page-header__description--small {
	color: $color-gray-4;
	font-size: $font-size-5 * 1px;
	font-size: $font-size-5 / 16 * 1em;
	line-height: 1.33333em;
	@media only screen and (min-width: $screen-sm-min) {
		font-size: $font-size-4 * 1px;
		font-size: $font-size-4 / 16 * 1em;
	}
}
.page-header--home .page-header__description {
	display: inline;
	text-shadow: 0 0 3rem rgba(15,16,16,0.5);
	color: $color-white;
	font-size: $font-size-4 * 1px;
	font-size: $font-size-4 / 16 * 1em;
	line-height: 1.125em;
	@media only screen and (min-width: $screen-sm-min) {
		font-size: $font-size-1 * 1px;
		font-size: $font-size-1 / 16 * 1em;
	}
	@media only screen and (min-width: $screen-md-min) {
		font-size: 48 * 1px;
		font-size: 48 / 16 * 1em;
	}
	@media only screen and (min-width: 1025px) {
		font-size: $font-size-0 * 1px;
		font-size: $font-size-0 / 16 * 1em;
	}
	@media only screen and (min-width: $screen-xl-min) {
		display: block;
	}
}
.page-header__link {
	color: $color-black;
	border-bottom: 2px solid $color-black;
	transition: all 400ms $transition;
}
.page-header__link:hover {
	color: $color-yellow;
	border-color: $color-yellow;
}
.page-header__list {
	display: block;
	margin-bottom: 1em;
}
.page-header__item {
	display: inline-block;
	margin: 0.25em;
	@media only screen and (min-width: $screen-sm-min) {
		margin: 0 0.5em;
	}
}





// Homepage Menu
.page-header__menu {
	position: relative;
	margin-top: 2.5em;
	@media only screen and (min-width: $screen-xs-min) {
		margin-top: 3.25em;
	}
	@media only screen and (min-width: $screen-sm-min) {
		margin-top: 6.5em;
	}
	@media only screen and (min-width: $screen-md-min) {
		margin-top: 7em;
	}
	@media only screen and (min-width: 1025px) {
		margin-top: 6em;
	}
	@media only screen and (min-width: $screen-lg-min) {
		margin-top: 9.5em;
	}
	@media only screen and (min-width: $screen-xl-min) {
		margin-top: 9em;
	}
}
.page-header__menu-list {
	display: flex;
	flex: 0 1 auto;
	flex-wrap: wrap;
	width: 100%;
	border-radius: 0.25em;
	border: 1px solid $color-gray-2;
	background-color: $color-white;
	box-shadow: 0 0 2rem 0.5rem rgba(15, 16, 16, 0.125);
	@media only screen and (min-width: $screen-sm-min) {
		flex-wrap: nowrap;
		height: 9em;
		box-shadow: 0 0 3rem 1rem rgba(15, 16, 16, 0.125);
	}
	@media only screen and (min-width: $screen-md-min) {
		height: 10em;
	}
	@media only screen and (min-width: $screen-xl-min) {
		height: 14em;
	}
}
.page-header__menu-item {
	position: relative;
	flex: 0 1 auto;
	width: 50%;
	padding: 0.5em 0 1em;
	border: 1px solid transparent;
	text-align: center;
	transition: width 300ms $transition, margin 300ms $transition, padding 300ms $transition, box-shadow 300ms $transition, border-color 200ms $transition;
	@media only screen and (min-width: $screen-sm-min) {
		width: 25%;
		margin: 1em 0;
		padding: 0;
		border-radius: 0.25em;
		background-color: $color-white;
	}
}
.page-header__menu-item:nth-child(1) {
	border-right: 1px solid $color-gray-2;
	border-bottom: 1px solid $color-gray-2;
	@media only screen and (min-width: $screen-sm-min) {
		border: none;
		border-left: 1px solid $color-gray-2;
	}
}
.page-header__menu-item:nth-child(2) {
	border-bottom: 1px solid $color-gray-2;
	@media only screen and (min-width: $screen-sm-min) {
		border: none;
		border-left: 1px solid $color-gray-2;
	}
}
.page-header__menu-item:nth-child(3) {
	border-right: 1px solid $color-gray-2;
	@media only screen and (min-width: $screen-sm-min) {
		border: none;
		border-left: 1px solid $color-gray-2;
	}
}
.page-header__menu-item:nth-child(4) {
	@media only screen and (min-width: $screen-sm-min) {
		border-left: 1px solid $color-gray-2;
	}
}
.page-header__menu-item:hover,
.page-header__menu-item.is-active {
	@media only screen and (min-width: $screen-sm-min) {
		flex: 1 1 auto;
		width: 30%;
		margin: -2.75em -1px -2.75em 0;
		padding: 1em 1em;
		z-index: 500;
		box-shadow: 0 0 1rem 0.25rem rgba(15, 16, 16, 0.125);
		border-color: $color-gray-2;
	}
	@media only screen and (min-width: $screen-md-min) {
		margin: -2em -1px -3em 0;
		padding: 1em 2em;
	}
	@media only screen and (min-width: 1025px) {
		margin: -2em -1px -4em 0;
	}
}
.page-header__menu-image {
	pointer-events: none;
	position: relative;
	display: block;
	width: 75%;
	margin: 0 auto;
	transition: max-width 400ms $transition;
	backface-visibility: hidden;
	@media only screen and (min-width: $screen-sm-min) {
		max-width: 8em;
	}
	@media only screen and (min-width: $screen-md-min) {
		max-width: 10em;
	}
	@media only screen and (min-width: $screen-xl-min) {
		max-width: 15em;
	}
}
.page-header__menu-item:hover .page-header__menu-image,
.page-header__menu-item.is-active .page-header__menu-image {
	@media only screen and (min-width: $screen-sm-min) {
		max-width: 11em;
	}
	@media only screen and (min-width: $screen-md-min) {
		max-width: 12em;
	}
	@media only screen and (min-width: $screen-xl-min) {
		max-width: 17.5em;
	}
}
.page-header__menu-title {
	pointer-events: none;
	margin: 0;
	color: $color-black;
}
.page-header__menu-button {
	pointer-events: none;
	position: relative;
	display: none;
	justify-content: space-between;
	width: 100%;
	margin: 1.5em auto 0;
	padding: 0.75em 0.75em 0.75em 1.25em;
	opacity: 0;
	border-radius: 0.25em;
	color: $color-white;
	font-size: $font-size-5 * 1px;
	font-size: $font-size-5 / 16 * 1em;
	font-weight: 700;
	letter-spacing: 0.0375em;
	background-color: $color-yellow;
	transform: translate3d(0,3em,0);
	transition: opacity 200ms $transition, transform 200ms 200ms $transition;
	@media only screen and (min-width: $screen-sm-min) {
		display: flex;
		flex: 0 1 auto;
	}
}
.page-header__menu-item:hover .page-header__menu-button,
.page-header__menu-item.is-active .page-header__menu-button {
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: all 250ms 150ms $transition;
}
.page-header__menu-button-title,
.page-header__menu-button-arrow {
	pointer-events: none;
	display: inline-block;
	flex: 0 1 auto;
}
.page-header__menu-button-arrow {
  position: relative;
  top: -2px;
  right: 2px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: initial;
}
.page-header__menu-button-arrow:before,
.page-header__menu-button-arrow:after {
  content: "";
  position: relative;
  display:inline-block;
  vertical-align: middle;
  box-sizing: initial;
}
.page-header__menu-button-arrow:before {
  width: 22px;
  height: 2px;
  background-color: $color-white;
  transition: background-color 400ms $transition;
}
.page-header__menu-button-arrow:hover:before {
  background-color: $color-black;
}
.page-header__menu-button-arrow:after {
  left: -8px;
  width: 7px;
  height: 7px;
  background: transparent;
  border-top: 2px solid $color-white;
  border-right: 2px solid $color-white;
  transform: rotate(45deg);
  transition: border-color 400ms $transition;
}
.page-header__menu-link {
  display: block;
}
