// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Blocks – Page Section
// stylesheets/blocks/_page-section.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.page-section--steps {
	padding-top: 0em;
	padding-bottom: 3em;
	background-color: $color-gray-1;
	
	@media only screen and (min-width: $screen-sm-min) {
		padding-top: 5em;
		padding-bottom: 4.5em;
	}
	@media only screen and (min-width: $screen-lg-min) {
		padding-top: 5.25em;
		padding-bottom: 6em;
	}
	@media only screen and (min-width: $screen-xl-min) {
		padding-top: 9em;
	}
}

.page-section--demos {
	margin-top: 3em;
}

.page-section--reorder .page-section__text {
	order: 3;
	@media only screen and (min-width: $screen-sm-min) {
		order: unset;
	}
}
.page-section--reorder .page-section__frame,
.page-section--reorder .page-section__mosaic {
	order: 2;
	@media only screen and (min-width: $screen-sm-min) {
		order: unset;
	}
}
.page-section--profile {
	padding-top: 6rem;
	background-color: $color-gray-1;
}
.page-section--actions {
	padding-top: 9rem;
	padding-bottom: 6rem;
	background-color: $color-gray-1;
}
.page-section__text {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
	@media only screen and (min-width: $screen-sm-min) {
		margin-top: 0;
		margin-bottom: 0;
		text-align: left;
	}
}
.page-section__picture {
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	border-radius: 0.25rem;
}
.page-section__picture--natural {
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0.25rem;
}
.page-section__image {
	position: absolute;
	display: block;
	top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%,-50%);
  backface-visibility: hidden;
}
.page-section__image--natural {
	display: block;
	width: 100%;
	border-radius: 0.25rem;
}
.page-section__title {
	margin: 3em 0 1.5em;
	text-align: center;
	@media only screen and (min-width: $screen-sm-min) {
		margin: 4.5em 0 3em;
	}
	@media only screen and (min-width: $screen-md-min) {
		margin: 6em 0 3em;
	}
}
.page-section--reorder .page-section__title {
	order: 1;
	@media only screen and (min-width: $screen-sm-min) {
		order: unset;
	}
}
.page-section__subtitle {
	margin-top: 0;
	font-size: $font-size-3 * 1px;
	font-size: $font-size-3 / 16 * 1em;
	font-weight: 400;
	line-height: 1.25;
	letter-spacing: 0.00625em;
	@media only screen and (min-width: $screen-md-min) {
		font-size: $font-size-2 * 1px;
		font-size: $font-size-2 / 16 * 1em;
	}
}
.page-section__description p {
	margin-top: 0;
	margin-bottom: 2em;
}
.page-section--center .page-section__subtitle,
.page-section--center .page-section__description {
	text-align: center;
}
.page-section__link {
	color: $color-gray-4;
	text-decoration: underline;
	transition: color 400ms $transition;
}
.page-section__link:hover {
	color: $color-yellow;
}
.page-section__number {
	font-size: $font-size-6 * 1px;
	font-size: $font-size-6 / 16 * 1em;
	font-weight: 400;
	line-height: 3;
	letter-spacing: 0.125em;
}
.page-section__button {
	padding: 0.75em 1.5em;
	color: $color-black;
	border-radius: 0.25rem;
	border: 2px solid $color-black;
	font-size: $font-size-5 * 1px;
	font-size: $font-size-5 / 16 * 1em;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.0375em;
	transition: all 400ms $transition;
	@media only screen and (min-width: $screen-sm-min) {
		font-size: $font-size-5 * 1px;
		font-size: $font-size-5 / 16 * 1em;
	}
}
.page-section__button:hover {
	color: $color-yellow;
	border-color: $color-yellow;
}
// .page-section__list--left {
// 	@media only screen and (min-width: $screen-sm-min) {
// 		padding-right: 2rem;
// 	}
// }
// .page-section__list--right {
// 	@media only screen and (min-width: $screen-sm-min) {
// 		padding-left: 2rem;
// 	}
// }
.page-section__list {
	text-align: center;
	@media only screen and (min-width: $screen-sm-min) {
		margin-top: 2em;
		text-align: left;
	}
	@media only screen and (min-width: $screen-md-min) {
		margin-top: 3em;
	}
}
.page-section__list--left {
	order: 4;
	@media only screen and (min-width: $screen-sm-min) {
		order: unset;
	}
}
.page-section__list--right {
	order: 5;
	@media only screen and (min-width: $screen-sm-min) {
		order: unset;
	}
}
.page-section__list--left .page-section__list-title {
	margin-top: 0;
	margin-bottom: 0;
	@media only screen and (min-width: $screen-sm-min) {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}
.page-section__list--right .page-section__list-title {
	margin-bottom: 0;
	@media only screen and (min-width: $screen-sm-min) {
		margin-bottom: 1em;
	}
}
.page-section__list-item {
	text-align: center;
	@media only screen and (min-width: $screen-sm-min) {
		text-align: left;
	}
}
.page-section__list-item p {
	line-height: 1.33333;
	margin: 0.75em 0;
	// text-align: center;
}

// Homepage How it Works
.page-section__steps {

}
.page-section__steps-video {
	display: none;
	width: 100%;
	@media only screen and (min-width: $screen-md-min) {
		display: block;
	}
}
.page-section__step {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1.5em;
	background-color: $color-white;
	@media only screen and (min-width: $screen-sm-min) {
		background-color: transparent;
		padding: 0;
	}
}
.page-section__step:nth-child(1) {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.page-section__step:nth-child(1) {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.page-section__step-image {
	display: block;
	width: 75%;
	margin: 0 auto;
	@media only screen and (min-width: $screen-sm-min) {
		width: 100%;
	}
	@media only screen and (min-width: $screen-md-min) {
		display: none;
	}
}
.page-section__step-title {
	margin: 0.5em;
	// font-size: $font-size-5 * 1px;
	// font-size: $font-size-5 / 16 * 1em;
	// @media only screen and (min-width: $screen-sm-min) {
	// 	font-size: $font-size-4 * 1px;
	// 	font-size: $font-size-4 / 16 * 1em;
	// }
}
.page-section__step-description {
	margin: 0 1em;
	font-size: $font-size-5 * 1px;
	font-size: $font-size-5 / 16 * 1em;
	@media only screen and (min-width: $screen-sm-min) {
		margin: 0;
	}
}
.page-section__step-number {
	display: inline-block;
	width: 2em;
	height: 2em;
	margin-top: 1rem;
	padding: 0.3125em 0.575em;
	font-size: $font-size-6 * 1px;
	font-size: $font-size-6 / 16 * 1em;
	font-weight: 700;
	line-height: 1;
	border-width: 2px;
	border-style: solid;
	border-color: $color-black;
	border-radius: 50%;
	@media only screen and (min-width: $screen-sm-min) {
		margin-top: 1.5em;
	}
}

// Homepage Material Mosaic
.page-section__mosaic-frame {
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 0;
	margin-bottom: 1em;
	border-radius: 0.25em;
}
.page-section__mosaic-frame--small {
	padding-bottom: 90%;
}
.page-section__mosaic-frame--large {
	padding-bottom: 62%;
	@media only screen and (min-width: $screen-md-min) {
		padding-bottom: 62.75%;
	}
}
.page-section__mosaic-frame--3,
.page-section__mosaic-frame--4 {
	margin-bottom: 0;
}
.page-section__mosaic-image {
	position: absolute;
	display: block;
	top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%,-50%);
  backface-visibility: hidden;
  transition: transform 600ms $transition;
}

// Homepage Companies
.page-companies {
	align-items: center;
	margin-top: 1.5em;
	@media only screen and (min-width: $screen-sm-min) {
		margin-top: 3em;
	}
	@media only screen and (min-width: $screen-md-min) {
		margin-top: 3em;
		margin-bottom: 3em;
	}
}
.page-company__image {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

// Gallery
.page-section__carousel {
	width: 100%;
}
.page-section__carousel--steps {
	width: calc(100% + 2rem);
	margin-left: -1rem;
	margin-right: -1rem;
	@media only screen and (min-width: $screen-sm-min) {
		display: flex;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

// Contact
.page-section__map {
  width: 100%;
  height: 0;
  padding-bottom: 62.5%;
  border-radius: 0.25rem;
  @media only screen and (min-width: $screen-sm-min) {
  	padding-bottom: 50%;
  }
}
.page-section__address {
	margin-top: 3rem;
	text-align: center;
	font-size: $font-size-5 * 1px;
	font-size: $font-size-5 / 16 * 1em;
	@media only screen and (min-width: $screen-sm-min) {
		font-size: $font-size-4 * 1px;
		font-size: $font-size-4 / 16 * 1em;
	}
}

// Profile
.page-section__item {
	width: 100%;
	margin-bottom: 0.5rem;
	border-radius: 0.25rem;
	background-color: $color-white;
}
.page-section__item-link {
	display: block;
}
.page-section__item-frame {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	width: 25%;
	height: 5rem;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	background-color: $color-gray-2;
}
.page-section__item-image {
	position: absolute;
	display: block;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}
.page-section__item-title {
	display: inline-block;
	vertical-align: middle;
	padding: 1rem;
	color: $color-gray-4;
	font-size: $font-size-5 * 1px;
	font-size: $font-size-5 / 16 * 1em;
	@media only screen and (min-width: $screen-sm-min) {
		font-size: $font-size-4 * 1px;
		font-size: $font-size-4 / 16 * 1em;
	}
}
.page-section__item-tag {
  padding: 0.375em 1.25em;
  color: $color-black;
  font-size: $font-size-6 * 1px;
  font-size: $font-size-6 / 16 * 1em;
  font-weight: 700;
  letter-spacing: 0.00625em;
  border-radius: 0.25rem;
  border: 2px solid $color-yellow;
  background-color: transparent;
  color: $color-yellow;
  // border-color: $color-yellow;
}