// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Blocks – Page Legal
// stylesheets/blocks/_page-legal.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.page-legal__list {
  margin-left: 1.5rem;
}
.page-legal__item {
  color: $color-gray-4;
  margin: 0.5rem 0;
  padding-left: 1rem;
  list-style: inherit;
  font-size: $font-size-4 * 1px;
  font-size: $font-size-4 / 16 * 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
}

.page-legal__list--numbered {
  list-style: decimal outside none ;
}
.page-legal__list--numbered > li {
  margin-bottom: 1rem;
}
.page-legal__list--lettered {
  list-style: lower-alpha outside none ;
}
.page-legal__list--roman {
  list-style: lower-roman outside none ;
}