// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Blocks – Page Form
// stylesheets/blocks/_page-form.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.page-form--update {
	margin-bottom: 3rem;
}
.page-form--delete {
	margin-bottom: 6rem;
}
.page-form__label {
	display: inline-block;
	margin-bottom: 0.5em;
	color: $color-gray-4;
	font-size: $font-size-5 * 1px;
	font-size: $font-size-5 / 16 * 1em;
	font-weight: 400;
	line-height: 1.25em;
	letter-spacing: 0.00625em;
	@media only screen and (min-width: $screen-sm-min) {
		font-size: $font-size-4 * 1px;
		font-size: $font-size-4 / 16 * 1em;
	}
}
.page-form__input,
.page-form__textarea {
	width: 100%;
	margin-bottom: 1em;
	padding: 0.75em 1em;
	color: $color-gray-4;
	font-size: $font-size-5 * 1px;
	font-size: $font-size-5 / 16 * 1em;
	font-weight: 400;
	line-height: 1.25em;
	letter-spacing: 0.00625em;
	border-radius: 0.25rem;
	border: 1px solid $color-gray-3;
	transition: border-color 200ms $transition;
	@media only screen and (min-width: $screen-sm-min) {
		font-size: $font-size-4 * 1px;
		font-size: $font-size-4 / 16 * 1em;
	}
}
.page-form__textarea {
	resize: none;
	height: 8.375em;
}
.page-form__input:focus,
.page-form__textarea:focus {
	outline: none;
	border-color: $color-yellow;
}
.is-error .page-form__input,
.is-error .page-form__textarea {
	border-color: $color-orange;
}
.page-form__contact {
	margin-top: 1em;
	text-align: center;
}
.page-form__button {
	cursor: pointer;
	padding: 0.375em 1.25em;
	color: $color-black;
	font-size: $font-size-4 * 1px;
	font-size: $font-size-4 / 16 * 1em;
	font-weight: 700;
	line-height: 1.25em;
	letter-spacing: 0.00625em;
	border-radius: 0.25rem;
	border: 2px solid $color-black;
	background-color: transparent;
	transition: all 400ms $transition;
}
.page-form__button:hover {
	color: $color-yellow;
	border-color: $color-yellow;
}
.page-form__button.is-success {
	cursor: default;
	pointer-events: none;
	border: none;
	color: $color-yellow;
}
.page-form__submit {
	cursor: pointer;
	padding: 0.375em 1.25em;
	color: $color-white;
	font-size: $font-size-4 * 1px;
	font-size: $font-size-4 / 16 * 1em;
	font-weight: 700;
	line-height: 1.25em;
	letter-spacing: 0.00625em;
	border-radius: 0.25rem;
	border: 2px solid $color-yellow;
	background-color: $color-yellow;
	transition: all 400ms $transition;
}
.page-form__delete {
	cursor: pointer;
	padding: 0.375em 1.25em;
	color: $color-white;
	font-size: $font-size-4 * 1px;
	font-size: $font-size-4 / 16 * 1em;
	font-weight: 700;
	line-height: 1.25em;
	letter-spacing: 0.00625em;
	border-radius: 0.25rem;
	border: 2px solid $color-orange;
	background-color: $color-orange;
	transition: all 400ms $transition;
}
.page-form__error {
	display: none;
}
.is-error .page-form__error {
	display: inline-block;
	margin-left: 1rem;
	text-align: right;
	color: $color-orange;
}
.page-form__note {
	margin-left: 1rem;
	color: $color-gray-4;
}
.page-form__helper {
	display: block;
	margin-top: -1rem;
	margin-bottom: 1rem;
	color: $color-gray-4;
}
.page-form__link {
	color: $color-gray-4;
	text-decoration: underline;
}

.form-error-text {
	display: none;

	p {
		color: $color-orange;
		font-style: italic;
	}

	&.active {
		display: block;
	}
}

.is-error input {
	border-color: $color-orange;
}
