// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Settings
// stylesheets/_settings.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


// Breakpoints
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$screen-xs-min: 20.051em;   // min breakpoint for mobile-l (321px)
$screen-xs-max: 40em;       // max breakpoint for mobile-l (640px)
$screen-sm-min: 40.051em;   // min breakpoint for tablet   (641px)
$screen-sm-max: 60em;       // max breakpoint for tablet   (960px)
$screen-md-min: 60.051em;   // min breakpoint for desktop  (961px)
$screen-md-max: 80em;       // max breakpoint for desktop  (1280px)
$screen-lg-min: 80.051em;   // min breakpoint for desktop+ (1281px)
$screen-lg-max: 100em;      // max breakpoint for desktop+ (1600px)
$screen-xl-min: 100.051em;  // min breakpoint for desktop+ (1601px)
$screen-xl-max: 120em;      // max breakpoint for desktop+ (1920px)


// Grid
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$grid-gutter: 0.5rem;         // 16px grid gutter
$grid-columns: 12;          // 12 column grid
$grid-xs-width: 100vw;  // 100%
$grid-xs-padding: 1rem;   // 16px
$grid-sm-width: 100vw;  // 100%
$grid-sm-padding: 1rem;  // 16px
$grid-md-width: 100vw;  // 100%
$grid-md-padding: 1rem;     // 16px
$grid-lg-width: 84rem;  // 1280px + 64px
$grid-lg-padding: 2rem;     // 32px
$grid-xl-width: 106rem; // 1600px + 96px
$grid-xl-padding: 3rem;     // 48px


// Colors
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$color-white: #FFFFFF;
$color-black: #0F1010;
$color-gray-1: #F7F9F9;
$color-gray-2: #E1EAEA;
$color-gray-3: #9DA8A8;
$color-gray-4: #535858;
$color-yellow: #FFCF44;
$color-orange: #FE8545;
$color-green-1: #01E9C4;
$color-green-2: #11DCBB;
$color-blue: #5001E9;


// Fonts
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$font-family-1: "din-2014", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
$font-size-0: 55;
$font-line-0: 1;
$font-size-1: 42;  // 42px, extra extra large
$font-line-1: 55 / 42;
$font-size-2: 34;  // 34px, extra large
$font-line-2: 42 / 34;
$font-size-3: 26;  // 26px, large
$font-line-3: 34 / 27;
$font-size-4: 21; // 21px, medium
$font-line-4: 32 / 18;
$font-size-5: 16; // 16px, small
$font-line-5: 24 / 16;
$font-size-6: 12; // 12px, extra small
$font-line-6: 16 / 12;
$font-size-7: 10; // 10px, extra small
$font-line-7: 12 / 10;

// Transitions
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$transition: cubic-bezier(0.16, 0.68, 0.43, 0.99);