<section class="page-section g">
  <div class="page-section__title g12-xs">
    <h3><%= title %></h3>
  </div>
  <div class="page-section__subtitle g12-xs">
    <h3><%= subtitle %></h3>
  </div>
  <div class="g12-xs g6-md g5-lg g1-lg-offset">
    <!-- 260x240 -->
    <img src="<%= image %>" />
  </div>
  <div class="page-section__button-container g12-xs">
    <button class="page-section__button">Visit Other Page</button>
  </div>
</section>