<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Copied from Zahner */
      h2 {
        display: inline-block;
        margin: 0;
        color: #f82400;
        font-size: 21px;
        font-weight: 300;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      h5 {
        color: #0a0a0a;
        margin: 8px 0;
        font-size: 12px;
        font-weight: 700;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
      }
      p {
        color: #0a0a0a;
        font-size: 18px;
        font-weight: 300;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        letter-spacing: 0.025em;
      }
      a {
        color: #f82400;
      }
      img {
        display: inline-block;
        width: 100%;
      }
      .email-header__logo {
        width: 124px;
      }
      .email-header {
        margin: 24px 0 48px;
      }
      .email-content__user {
        display: inline-block;
        padding: 24px 32px;
        border: 1px solid #eaeaea;
        border-top: 4px solid #f82400;
      }
      .email-content__username,
      .email-content__password {
        color: #5a5a5a;
        font-size: 15px;
        font-weight: 300;
        text-transform: none;
      }
      .zahner-logo {
        display: inline-block;
        width: 135px;
      }
      .zahner-120 {
        display: inline-block;
        width: 58px;
      }
      .zahner-icon {
        display: inline-block;
        width: 22px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
